[2015-07-29 12:01] soulfly opened #10 "What is the version of this lib?"
What is the version of this lib?

Is it stable enough?

[2015-07-29 15:34] soulfly opened #11 "OS X issue"
Hi there,

I have Kafka in my dependencies

    [dependencies]
    kafka = "0.1.6"

then I added

    extern crate kafka;

then do 'cargo build'

and receive this big error log:

    error: linking with `cc` failed: exit code: 1
    note: "cc" "-m64" "-L" "/usr/local/lib/rustlib/x86_64-apple-darwin/lib" "-o" "
    ....
    note: ld: warning: directory not found for option '-L/Users/igor/kafka-pipe

[2015-07-29 15:45] soulfly commented on #11
Okay

    brew install snappy

did a magic

[2015-07-29 15:45] #11 closed

[2015-07-29 15:45] soulfly commented on #10
Okay, it's 0.1.6

[2015-07-29 15:45] #10 closed

[2015-08-16 17:58] jedisct1 opened #12 "KafkaClient.send_messages() only sends the last message"
Hi,

Looks like `KafkaClient.send_messages()` only sends one message (always the last one) no matter what the size of the messages vector is.

Even the sample code:

[code]

Actually only writes `m2`. Consumers only get `b`, and the offset is only increased by 1 even though both messages should go to the same topic.

[2015-08-19 16:57] fred-chen opened #16 "dnscrypt client is not working if original DNS server is non-recursive"
The following function in "check-hijacking.sh" will never succeed if the original DNS server is working with non-recursive mode. That causes dnscrypt client in "standby" mode.

try_resolution() {
  exec alarmer 5 dig +tries=2 +time=3 +short google-public-dns-a.google.com \
    | egrep '^8[.]8[.]8[.]8' > /dev/null 2>&1
}

[2015-08-19 19:44] #12 closed

[2015-09-21 19:26] soulfly opened #18 "mismatched types with KafkaClient::new"
Hi there,

I have just copied your example

     let kafka_client = KafkaClient::new(&vec!("localhost:9092".to_string()));

and got the following error

    src/main.rs:48:45: 48:80 error: mismatched types:
     expected `collections::vec::Vec<collections::string::String>`,
     found `&collections::vec::Vec<collections::string::String>`
     (expected struct `collections::vec::Vec`,
     found &-

[2015-09-21 19:28] soulfly commented on #18
Ok, looks like I have to remove '&' and now it works

Please update the README file

[2015-09-28 18:52] xitep opened #19 "Clarify ownership in API / Avoid needless allocations"
Hello ...

with ... edec13c *Removed references from struct methods since they want the ownership of objects anyway* ... the API has changed to "swallow" host and topic names. Was there a particular reason for doing so? If i understand it correctly, this is consistent with various client input/output structures (e.g. `util::ProduceMessage`).

However, the fact that the API "swallows" topics as `St

[2015-09-28 22:04] spicavigo commented on #19
I would like nothing more than to not "swallow" things up. I moved from reference to outright ownership for consistency reasons. I have been meaning to find sometime to have another shot at it but unfortunately couldn't.

Will welcome a PR on this

[2015-10-01 19:20] Lingling7 opened #20 "error: multiple rlib candidates for `kafka` found"
I'm a beginner of kafka and rust, to use rust client as a consumer, I add the github example in src/main.rs

[code]
and add ```kafka = "*"``` in the cargo.toml dependencies

then I run ```$ cargo build``` I have the following error, is there anyone can help me to solve this?

[code]

[2015-10-01 19:36] spicavigo commented on #20
I think you added kafka dependency to kafka library itself. i.e. you added kafka="*" to the cargo.toml of kafka-rust library.

To test the library out, you should

1. cd /Users/admin/myrustdemo
2. cargo new kafkademo --bin
3. cd kafkademo
4. cp ../kafka-rust-master/src/main.rs src/
5. Add kafa dep to cargo.toml
6. cargo build

Let me know if this doesn't work

[2015-10-01 20:02] Lingling7 commented on #20
Thank you so much! I followed all your steps, and add ``` [dependencies]
kafka = "*"``` in cargo.toml of kafkademo, I ran into this error
[code]

is that means I need to delete ```&```? (As what I saw in [soulfly's post](https://github.com/spicavigo/kafka-rust/issues/18))
but I ran into a new question
[code]

[2015-10-01 20:32] xitep commented on #20
hello,

yes ... that `&` is currently a misleading point in the documentation (see #18) and will be resolved soon (i hope).

regarding the linking error: i think you'll need to have the native `snappy` library installed (don't know how to do this on windows, but on unix like systems it'd expect you to have `/usr/lib/libsnappy.so.1.1.3` or similar).

[2015-10-01 21:35] Lingling7 commented on #20
It works, thanks!!!

[2015-10-01 21:56] Lingling7 commented on #20
this is what I put in main.rs now
[code]
this is the warning when I type ```cargo build```
[code]

I have .exe now, but I cannot see anything when I ran ```cargo run```, are there anything I miss?

[2015-10-02 06:48] xitep commented on #20
i think we need to improve the documentation a little bit. in your particular case, however ...

a)
... you can get rid of the warnings by 1) deleting that unused `use kafka::utils` and 2) capturing the result of the call to `client.load_metadata`. The quick and dirty way could be just something like `let _ = client.load_metadata(...)` (here you merely capture the result into a variable named `_`

[2015-10-02 19:08] Lingling7 commented on #20
Thanks for the very detail info, xitep!!!
According to the comment, I changed my main.rs as this
[code]
and I test the topic on local ```$ bin/kafka-topics.sh --list --zookeeper localhost:2181```, the result is as this

$ bin/kafka-topics.sh --list --zookeeper localhost:2181
rocksdbtest

but when I use ```cargo test``` or ```cargo run```, there are still no information

src/main.rs: 5 fn main() {

[2015-10-02 21:08] Lingling7 commented on #20
is it because I don't have new data come in? is there anything like the  ```--from-beginning``` in ```bin/kafka-console-consumer.sh --zookeeper localhost:2181 --topic rocksdbtest --from-beginning```

[2015-10-02 23:08] Lingling7 commented on #20
I can use fetch_messages and print out now!!!^_^
But still cannot use the consumer, probably the "test-group",  I don't know what is it exactly and where to find this.
This is just test on the local, and I only build one topic "test"
[code]

[2015-10-02 23:40] spicavigo commented on #20
@Lingling7 Could you fetch the offsets for this consumer and verify that its less than the greatest offset for the partition you are consuming?

[2015-10-02 23:46] Lingling7 commented on #20
@spicavigo Do you mean check the offset numbers (id:0-155 ) with the consumed messages numbers(as below, 156)?

```bin/kafka-console-consumer.sh --zookeeper localhost:2181 --topic rocksdbtest --from-beginning```

[2015-10-03 00:30] spicavigo commented on #18
Fixed https://github.com/spicavigo/kafka-rust/commit/c20e2d91f464b1509262c620f59e550bca481bce

[2015-10-03 00:30] #18 closed

[2015-10-03 00:32] spicavigo commented on #20
@Lingling7 I mean this https://github.com/spicavigo/kafka-rust/blob/master/src/client.rs#L550

[2015-10-03 00:42] Lingling7 commented on #20
@spicavigo  thanks, I add this in main.rs
[code]
result like this
```resp: Ok([TopicPartitionOffsetError { topic: "test", partition: 0, offset: -1, error: Some(UnknownTopicOrPartition) }])```

[2015-10-03 08:10] xitep commented on #16
wrong project?

[2015-10-03 10:59] jedisct1 opened #22 "Snappy compression"
Sorry for lazily opening an issue instead of coming up with a pull request, but would it be possible to support Snappy compression for sent (not received) messages?

Thanks for kafka-rust!

[2015-10-04 12:02] jedisct1 opened #24 "Regression causing lost messages"
Change 62535d6a762e638d8c815b773f9d6e1b10539108 introduced a serious regression.

The first message for a given topic is now always lost.

[code]

=> Only `m2` and `m3` are sent, `m1` is ignored.

I'd suggest reverting this change.

[2015-10-04 16:19] xitep commented on #24
interesting! testing this on a channel with more than one partition i cannot observe this. however, on a topic with a single partition it really happens. will try to come up with a fix as soon as possible.

[2015-10-04 16:37] xitep commented on #24
@jedisct1 thanks for reporting this. PR #25 should be fixing the issue. sorry for the troubles.

[2015-10-05 05:17] #16 closed

[2015-10-05 09:29] jedisct1 commented on #22
Nevermind, I have a pull request ready for it.

[2015-10-05 10:02] #22 closed

[2015-10-05 21:39] Lingling7 commented on #20
I can use the consumer now, because I didn't set the offesetkey to the earliest, so I used

But how can I set this through rust, should I set from the consumer?

For the messages form consumer, I just got the numbers, how can I get the true text messages?

And if I want to load the data to rocksdb, should I use fetch or consumer?

[2015-10-09 19:06] Lingling7 commented on #20
The numbers in message is vector of bytes (utf-8), I need to transfer them to string

[2015-10-12 19:59] soulfly opened #27 "library not found for -lsnappy on OS X El Capitan"
Just updated to OS X El Capitan and can't use your library

     cargo build

returns

    ld: library not found for -lsnappy

here is the output from homebrew:

    Igors-MacBook-Pro: igorkhomenko$ brew install snappy
    Warning: snappy-1.1.3 already installed
    Warning: You are using OS X 10.11.
    We do not provide support for this pre-release version.
    You may encounter build failures o

[2015-10-13 06:58] jedisct1 commented on #27
`brew link snappy` maybe?

[2015-10-13 07:11] soulfly commented on #27
Igors-MacBook-Pro: igorkhomenko$ brew link snappy
    Warning: Already linked: /usr/local/Cellar/snappy/1.1.3
    To relink: brew unlink snappy && brew link snappy

[2015-10-14 07:44] xitep commented on #24
@jedisct1 can you confirm this issue is fixed for you?

[2015-10-14 10:01] jedisct1 commented on #24
The change looks fine, but I haven't tested it yet.

To be safe, I reverted 62535d6 in the version we run in production, but I will try this change shortly.

[2015-10-18 20:29] spicavigo commented on #24
@jedisct1 Can we close this issue now?

[2015-10-18 21:03] jedisct1 commented on #24
Yes.

[2015-10-19 07:46] xitep commented on #24
@jedisct1 many thanks for the confirmation

[2015-10-19 07:46] #24 closed

[2015-10-20 00:51] #20 closed

[2015-10-26 16:04] rigdent commented on #27
I was able to get it to work by setting the library path
`export LIBRARY_PATH="/usr/local/lib"`

[2015-10-27 00:26] Lingling7 opened #31 "consumer: allow consuming multiple topics"
I'm trying to use a Rust consumer to read from multiple topics. This is the code I have now:
[code]
below is the error:

[code]
To better explain my question, here is my partial workable code for just one topic:
[code]
And I tested the fetch_message function, it works for multiple topics, but the result I have (msgs) is Topicmessage, I don't know how to get message from Topicmessage.
[code]

[2015-10-27 01:14] #27 closed

[2015-10-27 10:08] xitep commented on #31
hello @Lingling7,

the error message regarding `error: use of moved value: topics` is due to the fact that the call to `client.fetch_offsets(topics, -1)` "consumes" `topics` (a nice explanation and more details on this is the [ownership chapter of the rust book](https://doc.rust-lang.org/stable/book/ownership.html#move-semantics)). In particular, as part of #19 I would like to avoid the `client.fe

[2015-10-27 17:58] Lingling7 commented on #31
@xitep  Thank you so much! I changed my code as you guided, still have the following error:
[code]

[2015-10-27 18:12] xitep commented on #31
@Lingling7 it's a bit hard for me to guess what's going on ... but i think this might be it: can you please try the following:

[code]

previously i have (errornously) suggested the same without "unwrapping" and since `Result` (which is returned by `fetch_messages_multi` implements `IntoIterator` it works smoothly with the `for` loop; however, it leaves you with `msg` being of type `Vec<TopicMessa

[2015-10-27 18:28] Lingling7 commented on #31
@xitep  Problem solved! Thanks for your help again!!!

[2015-10-27 18:30] xitep commented on #31
:)

[2015-10-30 18:11] Lingling7 commented on #31
Hi, I'm trying to fetch topics by batch. For the fetch multiple topics messages, can I fetch one messages from one topic per time? such as:
[code]
Currently, the code fetching order is fetch all messages in one topic then go to the next topic.

[2015-11-02 12:01] xitep commented on #31
Hello @Lingling7,

fetching messages one-by-one from topics/partitions is something kafka is not designed for. It'll hand out messages in "chunks" from topics/partitions (for efficiency reasons). Since these chunks might be a few hundred messages (for example) it might leave you in the impression that the client first consumes one topic and only then another. But what you really get is a mix of th

[2015-11-03 19:17] godel9 opened #36 "Specify Kafka Protocol Version"
I've been playing around with this library, and it appears to not work with Kafka version 0.8.2.1 as I keep getting unexpected EOF errors. Does this library just not support Kafka 0.8 or am I doing something wrong?

[2015-11-04 07:21] xitep commented on #36
`master` seems to be working fine for me (tried against latest https://hub.docker.com/r/spotify/kafka/ now). which version of kafka-rust are you using? in case you're using the version from crates.io, could you trie with this dependency definition?

[code]

[2015-11-04 21:23] godel9 commented on #36
I was using the crates.io version, switching to using the git repo fixed the problem. Thanks!
Unrelated question: what kind of performance can I expect for consuming from a single topic? Could this library handle reading several hundred thousand messages a second? Has anyone tried?

[2015-11-05 07:20] xitep commented on #36
@godel9 i tried this scenario and was able to achieve a ~100k msg/s (a single client thread since kafka-rust is  not thread-safe yet) the performance of kafka-rust is currently not very good. there is still a lot of work necessary to get it perform really well. but i'm hopeful we can achieve this in future. after all, rust can be blazingly fast.

[2015-11-05 07:22] xitep commented on #36
@spicavigo maybe it would be worth publishing the current master to crates.io?

[2015-11-12 22:25] xitep commented on #36
just pushed the latest master to [crates.io](https://crates.io/crates/kafka). closing this one. @godel9 feel free to re-open in case there's more to be done.

[2015-11-12 22:25] #36 closed

[2015-11-19 19:37] xitep opened #44 "Reading snappy compressed message"
Reading a topic with snappy compressed messages results in fewer messages delivered through `fetch_messages` (and `fetch_messages_multi`) then actually delivered by kafka (i'm using a 0.8.2.1 kafka server.)

[2015-11-19 21:43] xitep commented on #44
Looks like this is an issue only the mentioned kafka server version. Trying against 0.8.2.2 i cannot reproduce the problem anymore.

[2015-11-22 17:00] xitep commented on #44
The problem appeared to be a message split between two individual snappy chunks. This will be fixed in `branch-2.0` soon.

[2015-11-25 07:41] xitep commented on #44
Fix merged into `branch-0.2.x`. I'm closing this one.

[2015-11-25 07:41] #44 closed

[2015-11-25 07:46] xitep commented on #19
Most of the work is already prepared in the (not yet released) `branch-0.2.x`. I'm OK with the API in this branch regarding the issue reported here. (I still have some more changes to the API planned but rather for performance reasons regarding fetching messages.) I'm closing this one.

[2015-11-25 07:46] #19 closed

[2015-11-25 07:51] xitep opened #46 "Consumer performance"
The `Consumer` currently clones every messages it finally delivers to its client code (and further continues to reference the originally cloned message.) Given that messages can be pretty large this needs to be changed. (I fear we might need to drop the `Iterator` implementation and provide some other - potentially more complicated - means of iterating the fetched messages.)

[2015-11-26 21:43] xitep commented on #46
A quick and dirty proof-of-concept I've prepared locally (not yet pushed) indicates we can get much faster at parsing uncompressed "fetch responses" and providing the "message payload" to client code. The consumer is very likely to benefit as well. I'll push as soon as I clean up my code, though, I intend this to end up only in `branch-0.2.x`.

[2015-12-03 17:08] erickt opened #49 "Potentially switch to an external snappy crate?"
I saw there are a few snappy crates:

* https://crates.io/crates/snappy_framed
* https://crates.io/crates/snappy
* https://crates.io/crates/rsnappy

The last one is especially interesting since it's a pure-rust implementation of snappy. Would any of them work for this project?

[2015-12-03 17:26] erickt opened #50 "SSL support"
Kafka has support for SSL in [KAFKA-1684](https://issues.apache.org/jira/browse/KAFKA-1684), so it'd be nice to support it here as well. Hyper supports SSL channels, so it's [implementation](https://github.com/hyperium/hyper/blob/master/src/net.rs) would be a useful reference.

[2015-12-03 17:28] erickt opened #51 "SASL/Kerberos support"
Similar to #50, Kafka 0.9.0 added support for SASL/Kerboros authentication in [KAFKA-1686](https://issues.apache.org/jira/browse/KAFKA-1686), so it'd be also nice if this library supported it. I've started framing out a [GSSAPI binding](https://github.com/erickt/rust-gssapi) which can take care of the authentication handshake, but we'll also need some socket wrapper that can manage wrapping and un

[2015-12-03 19:31] xitep commented on #49
hello,

i did some work on "unpacking" snappy compressed messages in `kafka-rust` and feel confident to provide an answer here.

first of all, `kafka-rust` is bound to the format spilled out by [SnappyOutputStream](https://github.com/xerial/snappy-java/blob/develop/src/main/java/org/xerial/snappy/SnappyOutputStream.java) which is used at least by Kafka 0.8.2.x.  this is basically a concatenation o

[2016-01-07 09:25] ihrwein opened #56 "Producer performance"
This library is very promising :) Did you do any performance comparison with the official Kafka client library?

[2016-01-07 09:55] xitep commented on #56
hello, just a very quick reply.

comparing kafka-rust with the official (java and scala) kafka client will lead to a very bad results. kafka-rust is not thread-safe (yet) unlike the java based implementations. this limits kafka-rust's performance heavily on the throughput it can achieve in real-world scenarios.

personally, i want to drive kafka-rust into a direction where it can be as good as the

[2016-01-07 10:23] ihrwein commented on #56
Thanks for the quick reply, it was very informative :)

I will look at your code when I have time, this is a very interesting topic :)

[2016-01-07 10:23] #56 closed

[2016-01-10 03:10] Lingling7 opened #57 "consumer: lots empty messages in kafka live data"
I deployed a consumer as the example, I came across lots empty msgs, but in our production kafka live data there are no empty messages. Is there anyone could help me figure this out? Many thanks!

[2016-01-10 04:43] Lingling7 commented on #57
I checked online to see if there are some explanation, I found a possible answer:” Note also that we ask for a fetchSize of 100000 bytes. If the Kafka producers are writing large batches, this might not be enough, and might return an empty message set. In this case, the fetchSize should be increased until a non-empty set is returned.” [link] (https://cwiki.apache.org/confluence/display/KAFKA/0.8.0

[2016-01-10 12:24] xitep commented on #57
hello, i encountered this problem, but i'm still know sure about the right solution. in the meantime you could try `branch-0.2.x` which allows you to [set the max fetch size](https://github.com/spicavigo/kafka-rust/blob/branch-0.2.x/src/client.rs#L427) to overcome the problem. You can use this in your `Cargo.toml`:

[code]

instead of

[code]

[2016-01-11 21:54] Lingling7 commented on #57
@xitep thank you so much

[2016-01-18 23:34] Hoverbear opened #62 "Building on a system without installed Snappy"
Hey there,

I'm working on a Heroku application that will be utilizing Kafka and am trying to build this library. As part of this I have a script which builds the `libsnappy.a` file by `make install`ing Snappy into `$CACHE_DIR/snappy-build/lib`, here is the script:

[code]

However whenever I try to push my application the `kafka-rust` library tries to link it incorrectly. See:

[code]

Could you

[2016-01-19 06:41] xitep commented on #62
hello, based on your input ... [this one](https://github.com/xitep/try_kafka_snappy) works for me: `./build-all.sh` the point is that the `build.rs` is in _your_ project. i hope this helps.

ps: for some reason i fail to get static linking working on my system. if it works for you or you find out what's wrong with the `builld.rs`, i'd be glad if you'd let me know.

[2016-01-19 06:58] xitep commented on #62
fyi: i finally managed to build the "try_kafka_snappy" example with snappy statically linked in. the trick was to `./configure` snappy using `--with-pic --disable-shared`.

[2016-01-19 20:59] xitep commented on #46
The performance of the consumer prepared in `branch-0.2.x` is good for now.

On a single core, in terms of raw throughput it is even slightly faster than the official [java consumer] (not to be confused with the official scala client.) However, it's fair to say that the official client is way more complicated and supports many more features. We'll hopefully get to support some of the common use-ca

[2016-01-19 20:59] #46 closed

[2016-01-19 21:15] xitep opened #63 "Synchronous communication to brokers"
`KafkaClient` maintains a connection to each explored kafka broker. When sending or fetching messages the communication to these brokers happens synchronously.

Example 1: when delivering a bunch of messages to two (or multiple) brokers, first a message set to broker 1 is sent and its acknowledgement awaited, and only then a message set to broker 2 is sent and its acknowledgement waited.

Example

[2016-01-20 17:45] Hoverbear commented on #62
Hmm, your script works! :) Thanks so much for spending the time to look at this. I'm going to try to figure out what's going on.

[2016-01-20 17:54] xitep commented on #62
you're welcome. nice to hear i could be helpful :)

i'd be glad if you'd find out what's wrong with the `build.rs` and/or `Cargo.toml` in `kafka-rust`. unfortunately, i'm not very deep into cargo. this morning i had a look at cargo's guide and i suspect we miss the `links` instruction in `Cargo.toml`. however, a quick try-and-error approach didn't led me to where i was hoping.

[2016-01-20 17:56] Hoverbear commented on #62
Hmm yeah from my understanding of the `build.rs` file a "downstream" project should not need to copy the file. Once I get this sorted out for myself I'll try to take a look!

[2016-01-24 21:13] xitep commented on #57
@Lingling7 I have tried to address the issue you reported as part of the new `Consumer` (see `branch-0.2.x`). Now, the consumer's `.poll()` method will return an error by default when it discovers the unlucky situation.

I believe the right solution is by specifying a reasonable `fetch_max_bytes_per_partition` value on the `KafkaClient` instance, since most of the time one's consumers should be pr

[2016-01-25 18:12] xitep commented on #57
It seems like failing is not a good option when being subscribed to multiple partitions since a partition might not be able to write its data fast enough to the response, while the response itself might be satisfied with data from another (depending on `KafkaClient::fetch_min_bytes` setting).  I'll drop throwing the error in the consumer therefore.

[2016-02-01 20:05] xitep commented on #57
I've finally found a reliable way to signal the error even while consuming multiple partitions. The fix - #68 -  will be part of the `Consumer` in the `0.2.0` release.

[2016-02-01 20:29] xitep opened #70 "Allow producing key/value pairs"
`KafkaClient::send_messages` doesn't allow sending key/value pairs but limits itself to sending "values" only. This is limiting `kafka-rust` from general purpose usage. We shall allow the user to specify a `key` and a `value` as part of a `ProduceMessage`. This will require a breaking change.

[2016-02-02 17:56] xitep commented on #49
merely replacing the existing snappy decompression code in `kafka-rust` with `rsnappy` leads to benchmarks indicating a performance loss by a factor of two to three on my machine. but it might well be i've not used `rsnappy` effectively.

@veddan do you have any measurements comparing the performance of `rsnappy` to https://github.com/google/snappy ?

[2016-02-02 22:15] xitep commented on #62
i just tried again (with latest stable and nightly) and all seems to be fine even without a custom/project-specific `build.rs`. may i ask you to try again on [try_kafka_snappy's master](https://github.com/xitep/try_kafka_snappy/commits/master)?

in particular, i noticed the `LD_LIBRARY_PATH` and `LD_RUN_PATH` envs where not set to an absolute path to the custom snappy installation, hence, `kafka-r

[2016-02-02 22:15] #62 closed

[2016-02-03 08:38] xitep commented on #49
fyi: once JeffBelgum/rust-snappy#1 is merged and released, we'll switch over to that `snappy` crate to get rid of the our own snappy native bindings.

[2016-02-03 16:44] Hoverbear commented on #62
Hey! Sorry, I haven't gotten a chance to circle back to this, school's hitting me hard. I figured out it was related to environment variables and them not passing around between scripts as I thought they did. I'm still trying to determine things.

Thanks for being so responsive!

[2016-02-09 16:57] xitep commented on #49
Switched over to the `snappy` crate with 930efc9e2336b6ab9a920839dbacbf3c7188b4ec. This change will be released as part of 0.2, since it requires an update of the libc dependency.

[2016-02-15 18:49] xitep commented on #70
Just pushed a producer api to `branch-0.2` and dropped the old `KafkaClient::send_messages` (precisely speaking replaced with `KafkaClient::produce_messages`) through #72. There's still some work left to do on the producer, but we'll handle that through individual issues.

[2016-02-16 21:19] xitep commented on #49
just pushed version 0.2.0 to crates.io with a dependency on `snappy:0.3.0`. feel free to re-open if there's anything left from your side.

[2016-02-16 21:19] #49 closed

[2016-02-16 21:20] xitep commented on #57
just pushed `kafka-rust:0.2.0` to crates.io with the mentioned fix. feel free to re-open if the problem occurs again.

[2016-02-16 21:20] #57 closed

[2016-02-16 21:26] xitep commented on #70
Just released version 0.2 with messages representing a key/value pairs through the "send messages" APIs. Follow up ticket will soon arise to improve the mentioned producer.

[2016-02-16 21:26] #70 closed

[2016-02-16 21:55] xitep opened #78 "producer: ensure distributing messages with the same key to the same partition"
The "key" - if available - of a message is typically used to derive a consistent partition which a message should be delivered to. Usually one computes a hash code of the key and maps that consistently on one of the partitions of the topic.

Clients of the `Producer` API can achieve this already by supplying a custom `Partitioner` to the `Producer`. However, we shall make this the standard behavio

[2016-02-18 06:36] xitep opened #79 "consumer: optional message crc validation"
Kafka provides the possibility to validate fetched messages based on a CRC check. Currently, this is not implemented in `kafka-rust`.

The validation shall be part of `KafkaClient`. It shall be possible to disabled it - we'll go with enabled validation by default. `Consumer` shall provide a convenient "setter" method through its `Builder` for this setting as well.

It'd be nice to have a separate

[2016-02-18 06:54] xitep opened #80 "consumer: move skipping messages with earlier offsets than requested in kafkaclient"
`Consumer` already properly skips messages with a smaller offset than the one requested. This occurs mainly on topics with compressed messages as Kafka merely hands out the compressed block of messages containing the requested offset.

We'd like to make this "skipping" feature available directly through `KafkaClient#fetch_messages`'s method, since that is a guarantee the client should already be p

[2016-02-18 07:02] xitep opened #81 "Handle broker outage"
`kafka-rust` currently does a poor job of handling errors. It basically pushes all the responsibility to client code. However, that client code's only option, is to reload metadata and to try the operation again. There are various situations, though, where `kafka-rust` can do much better.

In particular - in the scope of this ticket - we'd like `Producer` and `Consumer` to try to "survive" the out

[2016-02-18 07:15] xitep opened #82 "producer: transparently avoid sending too many messages at once"
Client code can supply a list with way too many messages to be sent at once, leading to Kafka rejecting the "produce_message" response entirely. `Producer` shall be able to deal with such a situation and break up the list into smaller chunks and issue multiple "produce_messages" instead. Keep in mind:

* It is important to preserve the order of messages (as passed in by client code) for a particul

[2016-02-18 15:59] datariot commented on #78
This is a requirement for some work I'm about to do. I new to Rust (coming from Java/Scala + Kafka background) but I could take a stab at this unless you're already working on it.

[2016-02-18 20:24] xitep commented on #78
hello @datariot, it wasn't a priority for me right now, but i could give it precedence since the changes will have impact on other issues i planed to resolve. unfortunately, this will include some public api changes, though not as big as in the last 0.2 release.

[2016-02-19 21:25] datariot commented on #78
I feel partitioning by key is a pretty important part of a scalable Kafka project, so if it's going to impact other things it might be good to prioritize. Also it would selfishly help me ;-)

[2016-02-19 23:15] xitep commented on #78
@datariot i just pushed two very experimental commits to branch [consistent-partitioning](https://github.com/spicavigo/kafka-rust/commits/consistent-partitioning) allowing the partitioner to obtain the total partition count for a topic. this would allow you to implement consistent hashing in your own, custom partitioner. feel free to experiment with it. please note, this is really just a very firs

[2016-02-21 05:02] motazreda commented on #11
still the same problem

[2016-02-21 08:53] xitep commented on #11
@motazreda can you describe your setup a little bit? where is your native snappy lib installed? which version of `kafka-rust` are you having the problem with? Recent versions support setting the `LD_LIBRARY_PATH` and `LD_RUN_PATH`:

[code]

[2016-02-21 20:01] xitep commented on #78
Hello @datariot,

so I took some the time to get this done. Can you review/try out branch [consistent-partitioning](https://github.com/spicavigo/kafka-rust/commits/consistent-partitioning)? I'd be greatly interested in feedback.

So far, I've chosen `SipHash` since that is part of the std library, so no extra dependencies are required. However, I managed to provide the possibility for a user to de

[2016-02-22 16:56] datariot commented on #78
Awesome @xitep! I'll try to set aside some time today or tomorrow to check this out.

[2016-02-25 23:07] Hoverbear commented on #62
@xitep I figured this out and ended up solving the issue. It was related to how environment variables are passed around between scripts.

[2016-02-26 08:02] xitep commented on #62
that's good news! many thanks for the update.

[2016-03-07 19:13] xitep commented on #78
@datariot have you had already a chance to play around with this so far? just curious.

[2016-03-08 00:03] datariot commented on #78
@xitep yes, this is working as expected. I haven't put it under load so I don't have an idea on how SipHash performs. We usually partition on a String that is between 10-30 chars long.

[2016-03-08 05:28] xitep commented on #78
@datariot many thanks for the confirmation. i'll merge the PR then. regarding SipHash i think it's fine enough as a default.

[2016-03-08 05:32] xitep commented on #78
so it's in master now. however, in the end i decided to release it as part of 0.3.0, after implementing a few more issues. feel free to re-open in case of troubles. and many thanks so far.

[2016-03-08 18:09] xitep commented on #78
Re-opening until this gets released with 0.3.0.

[2016-03-08 20:57] xitep commented on #79
Fixed. Keeping this ticket open until 0.3.x gets released.

[2016-03-22 06:05] xitep commented on #80
Resolved by #86. Keeping this ticket open until 0.3 gets released.

[2016-03-31 07:55] xitep commented on #80
Closing, 0.3.0 released.

[2016-03-31 07:55] #80 closed

[2016-03-31 07:55] xitep commented on #79
Closing this one; just released 0.3.0.

[2016-03-31 07:55] #79 closed

[2016-03-31 07:56] xitep commented on #78
Closing this one; just released 0.3.0.

[2016-03-31 07:56] #78 closed

[2016-04-28 00:56] Hoverbear opened #88 "Accept `std::net::ToSocketAddrs` as a host."
In the future [`lookup_host`](https://doc.rust-lang.org/std/net/fn.lookup_host.html) might be something to look into as well.

[2016-05-19 19:07] xitep commented on #50
many thanks to @Hoverbear for the initiative and the implementation! i'm keeping this ticket open until it is released on crates.io.

@erickt  feel free to test the `master` branch and provide feedback :)

[2016-05-19 19:28] xitep opened #89 "Allow builds without certain dependencies"
It would be desirable to be able to build without dependencies to native libraries. In certain deployments it is not necessarily to link against `openssl` and/or the utilized compression libraries. We can exclude them and the corresponding functionality using features.

[2016-05-19 21:33] xitep commented on #89
this seems to be quite problematic as a lot of code paths need to be duplicated in order to conditionally hide publicly exposed types and error variants. further duplication arises around `KafkaConnection`. after all, the effort doesn't (yet) seem to be justified.

[2016-05-20 05:50] xitep commented on #50
released on crates.io as 0.3.1.

[2016-05-20 05:50] #50 closed

[2016-05-29 13:02] samphippen opened #90 "cannot build, missing `-lsnappy`"
I tried to build with this crate for simple consumer usage locally on osx 10.11.3. System details:
[code]

Example app here: https://github.com/samphippen/kafka-example-app.

The error is this:

[code]

Any advice? It looks like I'm missing lib snappy, but I'd prefer to not have to install any libraries on my system to work with this package. Is this something where we need to statically link libs

[2016-05-29 13:07] samphippen commented on #90
This also affects running the tests for me locally on master.

[2016-05-29 13:09] samphippen commented on #90
This needs to be filed upstream on snappy.

[2016-05-29 13:09] #90 closed

[2016-05-29 18:54] xitep commented on #90
hi, `rust-snappy` has a `build.rs` which is originating from `kafka-rust` actually. If that snappy is not installed in the usual path for you, you can export the `LD_LIBRARY_PATH` and `LD_RUN_PATH` environment variables (pointing them to your snappy installation path) before issueing `cargo build.`

[2016-05-30 19:06] xitep commented on #89
Might help situations like outlined in #90.

[2016-06-01 06:27] xitep commented on #90
@samphippen i just pushed a change which would allow you to exclude the dependency on snappy. at the moment you'd need to place this dependency definition on kafka in your project:

[code]

can you try this out and give me some feedback?

[2016-06-05 18:12] #89 closed

[2016-06-07 20:59] thijsc commented on #81
Any progress on this one?

[2016-06-07 21:44] thijsc opened #92 "Automatically assigned partitions"
Great work on this library so far! Do you have any plans to support automatically load balancing partitions over consumers as described [here](http://www.confluent.io/blog/tutorial-getting-started-with-the-new-apache-kafka-0.9-consumer-client)?

If so, anything I could do to help get this done?

[2016-06-08 05:44] xitep commented on #81
unfortunately, no. not that i'm aware of. feel free to tackle this one. my focus is currently rather on #63.

[2016-06-08 05:51] xitep commented on #92
hello, this is a feature i would greatly desire myself to kafka-rust's `Consumer` client! thanks for the ticket. for smooth operation, though, i believe `Consumer` would need to be able to communicate asynchronously with brokers in the background; this is something i wanted to explore as part of #63.

[2016-06-13 19:14] xitep opened #93 "update to byteorder 0.5"

[2016-06-16 20:59] xitep commented on #93
Fixed by #94 and release as 0.3.3 on crates.io.

[2016-06-16 20:59] #93 closed

[2016-06-23 22:58] dead10ck opened #95 "Fetching group topic offsets does not work"
I'm trying to use this lib to calculate the offset lag for a particular group ID. It seems able to fetch topic metadata though `KafkaClient::fetch_offsets` just fine, but when specifying a group with `KafkaClient::fetch_group_topic_offsets`, it returns an `UnknownTopicOrPartition` error in the resulting offset entry.

[code]

this prints out

[code]

These are active Kafka (v0.9) topics that are k

[2016-06-24 06:14] xitep commented on #95
it seems to me you're hitting a compatibility issue between different protocol versions. this library uses `v0` while your java clients are probably using `v1`: [The protocol](https://cwiki.apache.org/confluence/display/KAFKA/A+Guide+To+The+Kafka+Protocol#AGuideToTheKafkaProtocol-OffsetFetchRequest) says that `v0` offsets are stored in zookeeper (so this is where `kafka-rust` will fetch the offset

[2016-06-24 18:21] xitep commented on #95
Indeed, `kafka-rust`'s implementation for fetching group offsets is not correct. It just happens to work with the zookeeper based strategy for offset persistence, but breaks when trying to communicate on the `v1` protocol with a kafka 0.9 broker. I'll have a look at how to best fix this and try to provide a way such that client code can choose to prefer the `v1` protocol.

[2016-06-26 04:27] dead10ck commented on #95
Does this mean committing won't work either?

[2016-06-26 10:20] xitep commented on #95
Well, committing offsets from within `kafka-rust` (and fetching them) right now works on the protocol version `v0` which means the offsets will end up in zookeeper. A rust program using `kafka-rust` therefore will consistently store and load those offsets from the zookeeper instance (which is behind the kafka brokers) and things should be working as expected.

However, if your java clients are usi

[2016-06-26 18:21] dead10ck commented on #95
Ah, I see. Currently, we do not use the `subscribe` API, though we planned on switching to it at some point.

Reading from the `__consumer_offsets` topic might work, although I've noticed it's a binary format. Do you know if the format has documentation anywhere, and if it would be difficult to put together a parser?

[2016-06-27 05:59] xitep commented on #95
i'm sorry, i haven't seen the format documented (but i haven't searched extensively). however, i'm sure you can find it in one of the two mentioned projects; i'm not much familiar with scala, but [this seems to be the place](https://github.com/yahoo/kafka-manager/blob/master/app/kafka/manager/actor/cluster/KafkaStateActor.scala#L224) where kafka-manager starts reading/processing the topic.

[2016-06-27 06:24] xitep commented on #95
@dead10ck i just pushed my partial efforts to the branch `pete/group-offsets`; there's still some work left to do, but it'd be great if you could test the early result on your setup and give me some feedback if things don't work out for you.

you'd need to locally checkout the branch `pete/group-offsets-v1` (which hard-codes the `v1` protocol version for group offset management) and reference it f

[2016-06-27 20:01] dead10ck commented on #95
@xitep awesome, thank you! However, I am currently on vacation, so I won't be able to test this until next week. I will definitely give it a go next week though!

[2016-06-28 19:54] xitep opened #96 "Make sure to intepret the compression type from the last 3 bits in attributes"
This is an easy one; just not to forget about it. The compression type is indicated by the last *3* bits of the `attributes` field in a fetched messageset; kafka-rust currently takes it from the last *2*.

[2016-06-28 20:04] xitep opened #97 "Stronger validity on produce_message#required_acks"
It appears that as of Kafka 0.10 the protocol specifies the following regarding the `RequiredAcks` field in a "produce message request":

If anything else is specified by the client, the broker should be responding with the `InvalidRequiredAcksCode(21)` error code. 1) We should verify this. 2) We should prepare for this API already now even for Kafka 0.8 and 0.9 servers. Changes to `kafka-rust`'s

[2016-06-30 07:19] xitep commented on #95
just a minor update: i'm dropping the branch `pete/group-offsets-v1` in favor of the newly available option to allow clients to choose the offset storage themselves in the branch `pete/group-offsets` like in the following example:

[code]

Having that said, the public API should be set in this branch; but there's still some work left to do. Nevertheless, I'll be glad if you had a chance to try it

[2016-07-01 20:44] dead10ck commented on #95
@xitep that branch appears to be working perfectly :) it is now fetching offsets correctly from Kafka itself on my 0.9 broker

[2016-07-01 20:46] xitep opened #98 "Update dependency on crc"
Once `crc` with [PR#7](https://github.com/mrhooray/crc-rs/pull/7) is published on [crates.io](https://crates.io/crates/crc) update our dependency on crc. This will align the utilized version of `lazy_static` which we inherit once through the `crc` and once through the `openssl` modules in distinct versions now.

[2016-07-01 20:50] xitep commented on #95
that sounds good :) thank you for testing! i still need to handle two more error cases which can occur and can/should be transparently handled by `KafkaClient`. i'll tackle this over the weekend and after some more testing i'll be merging and releasing it. feel free to shout in case you spot any troubles.

[2016-07-02 13:59] xitep opened #100 "consumer: allow resetting offset"
Consumer should allow its clients to reset/seek its offset. This allows repeated runs over a topic's data (for testing purposes for example) which having to consumer the whole topic.

[2016-07-02 16:30] xitep opened #101 "consumer: iteroperability with java clients"
Recent java clients seem to commit the offset of the message they want to consume next (observed with `KafkaConsumer` from `org.apache.kafka:kafka_2.10:0.9.0.1`), while `kafka-rust's` `Consumer` commits the offset of the message it already consumed. For interchangeability we might want to consider switching to the Java client's strategy. Note: this is would be a breaking change for existing kafka-

[2016-07-02 17:42] xitep commented on #98
Updated in `master`; will close once released on crates.io as part of the `0.4` release.

[2016-07-02 18:01] xitep opened #102 "client: re-connect if connection closed by broker"
As of Kafka 0.9, brokers will actively shutdown client connections which are idle for more than a broker configured timeout (the broker configuration parameter is `connections.max.idle.ms`; defaults to 10 minutes). `kafka-rust` should re-establish its broken connections to brokers.

Using `example/console-producer.rs` to send a message, leaving it untouched for more than 10 minutes, and then sendi

[2016-07-02 19:24] xitep commented on #95
Available in `master` now; will be released as 0.4 later on crates.io; i'll then close the ticket if everything fine until then.

[2016-07-03 06:54] xitep commented on #96
Reopening to close once released as part of 0.4

[2016-07-03 09:45] xitep commented on #97
Just verified: the `InvalidRequiredAcks` error is occuring even for kafka 0.9 brokers if not `-1`, `0`, or `1`.

[2016-07-03 12:22] xitep commented on #97
reopening until released under 0.4 on crates.io

[2016-07-03 14:59] xitep opened #105 "consumer: allow usage without a group"
It should be possible to use `Consumer` without a group; if no group is specified reading starts at the `Consumer`'s `fallback_offset`. Committing offsets through a `Consumer` without a group shall not result in an error but translate into a no-op.

[2016-07-03 16:06] xitep opened #106 "consumer: default fallback_offset"
Currently, a `Consumer#fallback_offset` must be explicitly specified. This shall default to `FetchOffset::Latest`.

[2016-07-03 17:33] xitep commented on #105
Reopening until this get's released on crates.io as part of 0.4

[2016-07-03 20:42] xitep commented on #106
Reopening until this is released on crates.io as part of 0.4.

[2016-07-06 19:23] xitep commented on #31
consuming multiple topics is prepared in the branch `consumer-mutli-topic`; want to try it out, @Lingling7? this would be the code to set up a consumer for two topics:

[code]

This would currently be required in `Cargo.toml` in an example project:

[code]

any feedback would be greatly appreciated.

[2016-07-11 15:44] xitep commented on #31
Merged to `master`; re-opening until published on crates.io as 0.4.

[2016-07-12 20:25] xitep commented on #106
Published on [crates.io](https://crates.io/crates/kafka/0.4.0).

[2016-07-12 20:25] #106 closed

[2016-07-12 20:25] xitep commented on #105
Published on [crates.io](https://crates.io/crates/kafka/0.4.0).

[2016-07-12 20:25] #105 closed

[2016-07-12 20:26] xitep commented on #98
Published on [crates.io](https://crates.io/crates/kafka/0.4.0).

[2016-07-12 20:26] #98 closed

[2016-07-12 20:26] xitep commented on #97
Published on [crates.io](https://crates.io/crates/kafka/0.4.0).

[2016-07-12 20:26] #97 closed

[2016-07-12 20:26] xitep commented on #96
Published on [crates.io](https://crates.io/crates/kafka/0.4.0).

[2016-07-12 20:26] #96 closed

[2016-07-12 20:27] xitep commented on #95
Published on [crates.io](https://crates.io/crates/kafka/0.4.0).

[2016-07-12 20:27] #95 closed

[2016-07-12 20:27] xitep commented on #31
Published on [crates.io](https://crates.io/crates/kafka/0.4.0).

[2016-07-12 20:27] #31 closed

[2016-07-13 17:33] xitep opened #113 "producer: Producer#send panics with no_acks configuration"
If `Producer` is configured with `RequiredAcks::None`, sending a single message through `Producer::send` panics due to an invalid assertion in this method! This bug seems to be sitting there around since the `Producer's` birth.

[2016-07-14 04:44] #113 closed

[2016-07-14 04:57] xitep commented on #113
Published as [0.4.1 on crates.io](https://crates.io/crates/kafka/0.4.1)

[2016-07-15 06:03] xitep opened #115 "client/consumer/producer: time api"
Rework the public API such that it accepts `std::time::Duration` in places where it currently expects the user to provide a duration in milliseconds. This will be less prone to unit mismatches and errors by mistake. So far the places identified are:

* `kafka::producer::Builder::with_ack_timeout`
* `kafka::client::KafkaClient::produce_messages` (ack_timeout parameter)
* `kafka::client::KafkaClient

[2016-07-25 23:11] Hoverbear commented on #115
@xitep Could:

`kafka::producer::DEFAULT_ACK_TIMEOUT` -> `DEFAULT_ACK_TIMEOUT_MILLIS`
`kafka::client::DEFAULT_RETRY_BACKOFF_TIME` -> `DEFAULT_RETRY_BACKOFF_TIME_MILLIS`
`kafka::client::DEFAULT_FETCH_MAX_WAIT_TIME` -> DEFAULT_FETCH_MAX_WAIT_TIME_MILLIS`

Be handled with lazy statics?

[2016-08-01 06:26] xitep commented on #115
@Hoverbear that's a good idea! thanks for the hint, i'll try that out.

[2016-08-02 06:28] xitep commented on #115
it looks like #102 will be merged sooner than this ticket, therefore, the newly added elements from #102 shall be renamed as outlined in this ticket; these new newly added elements are (or will be):

* `kafka::client::DEFAULT_CONN_IDLE_TIMEOUT`
* `kafka::client::KafkaClient::set_connection_idle_timeout` and `kafka::client::KafkaClient::connection_idle_timeout`
* `kafka::producer::Builder::with_con

[2016-08-02 13:03] craftytrickster opened #116 "Consider using rust-snappy"
There is a pure rust implementation of snappy https://github.com/BurntSushi/rust-snappy that perhaps could replace the need to use `libsnappy-dev`.

[2016-08-02 13:06] xitep commented on #116
Thanks for the ticket! Exactly what I was thinking about when seeing the news this morning! Just for reference, a related ticket is/was #49.

[2016-08-02 13:07] craftytrickster commented on #116
You know what they say, great minds think alike.

[2016-08-02 18:35] xitep opened #118 "Actively close inactive connections as soon as possible"
We shall actively close inactive/idle connections as soon as possible to prevent brokers closing them first. In particular, we'd like to actively close idle connection as soon as possible _after the "connection idle timeout" is reached_ (this is, after a connection is idle for this amount of time but not less) - this timeout configuration option is/was being introduced by #117.

By avoiding the ac

[2016-08-04 04:44] #102 closed

[2016-08-04 04:56] xitep commented on #102
Pushed to [crates.io](https://crates.io/crates/kafka/0.4.2).

[2016-08-04 06:12] xitep commented on #115
@Hoverbear just some feedback on the `lazy_static` approach; it works, but i'm not really satisfied with the resulting api. first, the "constants" need to be de-referenced explicitly. secondly, in the generated documentation they show up in a different section than the rest of the constant.

i'll go with the originally proposed re-naming then. anyway, many thanks for the idea!

[2016-08-05 15:57] Hoverbear commented on #115
Aww oh well. :)

[2016-08-07 18:57] #115 closed

[2016-08-07 19:05] xitep commented on #115
Published on [crates.io](https://crates.io/crates/kafka/0.5.0) as 0.5.0

[2016-08-15 21:50] Furyhunter opened #120 "Genericize consumer builder functions"
Currently the builder API only takes `String` for several of its functions. This isn't very ergonomic and could be improved. For example:

[code]

Becomes:

[code]

This would not require call site changes because the `Into<String>` implementation for `String` is a no-op, so it should be a non-breaking API change.

[2016-08-16 04:47] xitep commented on #120
This sounds great to me! If you've got some time, feel free to submit a PR. I'd be glad to merge such an improvement.

[2016-08-17 17:35] xitep commented on #63
just some notes on this issue: i see the following three candidates:

* [mio](https://github.com/carllerche/mio) - very low-level (we probably don't want to go this path)
* [futures-rs](https://github.com/alexcrichton/futures-rs/) - still feels too low-level for what we might want
* [tokio-rs](https://github.com/tokio-rs/tokio) - seems like the best choice at the moment. this could give us support

[2016-08-29 08:11] jedisct1 opened #122 "Use latest rust-openssl"
It would be nice to upgrade to rust-openssl 0.8.x (current stable branch) in order to avoid conflicts with other crates linking openssl 0.8.

[2016-08-29 08:30] xitep commented on #122
sounds good to me! have you got time to give this a try? i fear i might not be able to get my hands wet on this during this week.

[2016-08-29 22:25] dead10ck opened #123 "Consider formatting with rustfmt"
It keeps the code nice and clean :) Currently, it would fix quite a lot of formatting:

[code]

[2016-08-30 05:22] xitep commented on #123
i agree it needs some common shape (though i'm not entirely happy with all of the changes rustfmt does to the code; i guess i'm just not used to that style.)

[2016-08-30 13:29] dead10ck commented on #123
Yeah, it's not perfect, but personally, I think it's worth it to never have to think about formatting. Just type that line as long as it needs, rustfmt will make it look pretty in most cases. The style is also configurable, so if you don't like one of the things about the default style, you can always change it and include a `.rustfmt.toml` file in the repo so it keeps it that way for everyone who

[2016-08-30 16:25] #123 closed

[2016-08-30 16:27] xitep commented on #123
agreed. thanks for pushing this!

[2016-09-04 17:37] dead10ck opened #128 "utils::{TopicPartitionOffset, PartitionOffset} have Result fields"
Currently, the `utils::{TopicPartitionOffset, PartitionOffset}` structs' offset fields are `Result`s. In my opinion, it's kind of strange to have a struct with a `Result` in the middle of it for anything but maybe custom `Error` types. It can make error handling on the user-side really inconvenient.

Additionally, it's not entirely clear to me why `TopicPartitionOffset` is needed at all—it seems t

[2016-09-04 19:37] xitep commented on #128
Many thanks for the investigation!

* I agree that the existence of `TopicPartitionOffset` is sub-optimal. In particular for `KafkaClient::fetch_group_topic_offsets` and `KafkaClient::fetch_group_offsets` a return value of `Map<String, Vec<PartitionOffset>>` as you implied would be desirable. This will definitely avoid the needless cloning and help clients in processing the response more easily. F

[2016-09-04 20:43] dead10ck commented on #128
Cool, sounds good.

For the last two bullet points, yeah, it's not immediately clear how to handle the return value there. However, I think at least part of the confusion (at least for me) is that the Kafka broker's `ProduceResponse` contains *both* the offset and the error code, if any, so it doesn't really make sense to wrap the offset in a `Result` there anyway, since either way, the acknowledg

[2016-09-04 20:46] dead10ck commented on #128
Also, just wanted to let you know that I don't often get free time to work on for-fun projects, so I can't promise I'll be able to move forward with this issue in a timely manner, unfortunately :/

[2016-09-05 06:36] xitep commented on #128
i agree, it does make sense (especially if it's going to be `Result<i64, KafkaCode>`.) if i remember correctly, i didn't rework this due to the `protocol` structs being crate private and i didn't have to change the wire format parsing code. feel free to change this; but be sure to not skip reading any bytes from the parsed binary stream (i.e. always read the 2 byte error code _and_ always read the

[2016-09-05 07:20] xitep commented on #128
i agree, it does make sense (especially if it's going to be `Result<i64, KafkaCode>`.) if i remember correctly, i didn't rework this due to the `protocol` structs being crate private and i didn't have to change the wire format parsing code. feel free to change this; but be sure to not skip reading any bytes from the parsed binary stream (i.e. always read the 2 byte error code _and_ always read the

[2016-09-05 07:33] xitep opened #129 "client: investigate error handling for fetch group offsets"
* Investigate error handling here: https://github.com/spicavigo/kafka-rust/blob/master/src/client/mod.rs#L1365
* See #128

[2016-09-05 07:34] xitep commented on #129
cc @dead10ck

[2016-09-05 15:54] xitep commented on #129
after some more investigation, it seems that the [kafka errors](https://cwiki.apache.org/confluence/display/KAFKA/A+Guide+To+The+Kafka+Protocol#AGuideToTheKafkaProtocol-PossibleErrorCodes.5) reported by the [OffsetFetchRequest](https://cwiki.apache.org/confluence/display/KAFKA/A+Guide+To+The+Kafka+Protocol#AGuideToTheKafkaProtocol-ApiKeysAndCurrentVersions) are related to the request as a whole, w

[2016-09-05 15:54] #129 closed

[2016-09-05 16:03] dead10ck commented on #128
Ahh, ok, I understand. Ok, then for this ticket, I'll go ahead and plan to:

1. Change the fetch methods to return a map
2. Change the offset field in these two structs to a `Result<i64, KafkaCode>`

[2016-09-05 16:24] xitep commented on #128
@dead10ck so, after inspecting the code you pointed out, reading the kafka protocol documentation again, and considering that `kafka-rust` does not provide any security related features ... after all this i fully agree with you that the current return value of the `fetch_group_(topic_)offsets` methods is non-sense. i would be glad if you could rework it just as you suggested. in particular i like

[2016-09-05 18:30] dead10ck commented on #128
Ah, ok, perfect! Yes, all of that sounds like what I was thinking of doing. Because my progress may be bursty, though, I think when I do make some progress, I'll open a work-in-progress PR, and I'll update it if I make any decisions outside of what you described while I work on it.

[2016-09-10 12:31] xitep commented on #122
fixed in master; will be released as part of the next 0.6 version on crates.io (still not sure when this happens), until then i'm keeping this open.

[2016-10-04 22:19] dead10ck opened #131 "Make type aliases for the various Kafka protocol primitives"
Currently, the Kafka protocol defines a heterogenous set of primitive types for all of its response fields, e.g., partitions are 32-bit ints, offsets are 64-bit ints, error codes are 16-bit ints, etc. In most of the code, these types are just used directly, which can make it cumbersome to read and modify code ("what type is a partition again?").

I propose we make a public set of type aliases that

[2016-10-05 06:38] xitep commented on #131
sounds reasonable to me. i'm fine with the proposal.

[2016-10-25 05:13] xitep commented on #128
we've got this in master now. once again thanks for the hard work! it is really appreciated.

i'm going to keep this ticket open until the change gets pushed to creates.io. (i expect to do so next somewhere next week once i get back from vacation.)

[2016-10-27 18:30] drusellers opened #132 "Expose AdminCommand functionality"
Is there any desire to see AdminCommand functionality added to the library?

[2016-10-30 16:21] drusellers commented on #131
:clap:

[2016-10-31 07:12] xitep commented on #132
i think it is of general interest to have it covered. feel free to work on this.

btw: note, that `kafka-rust` itself doesn't use the [group membership api](https://cwiki.apache.org/confluence/display/KAFKA/A+Guide+To+The+Kafka+Protocol#AGuideToTheKafkaProtocol-GroupMembershipAPI) to coordinate its consumers. however, it would be desired and is planned as part of of #92 (i just don't have time wor

[2016-10-31 14:14] drusellers commented on #132
Ok, cool. I'm still working my way through the entire code base and I'm new to rust so I'm still playing quite a bit of catch up. But I'll keep hammering away on it.

[2016-11-01 13:38] drusellers commented on #88
I've tracked this down to its root at https://github.com/spicavigo/kafka-rust/blob/master/src/client/network.rs#L353 - I'm thinking that we can start by changing the type signature of `KafkaConnection::new(id: u32, host: &str, rw_timeout: Option<Duration>) -> Result<KafkaConnection>` to `KafkaConnection::new<H: ToSocketAddrs>(id: u32, host: H, rw_timeout: Option<Duration>) -> Result<KafkaConnectio

[2016-11-01 14:13] drusellers commented on #88
More thoughts. The higher level methods will take a `ToSocketAddrs` which is then converted into a `SocketAddr` as soon as we can? But that is assuming that we can use SocketAddr as a hash key. 🤔

[2016-11-01 14:45] xitep commented on #88
i haven't put much though into this ticket yet, but as far as i can tell, you'll also need to account for the fact that kafka brokers report metadata about other brokers (used for bootstraping the cluster information) in the form of `(String, i32)` (see [here](https://github.com/spicavigo/kafka-rust/blob/master/src/protocol/metadata.rs#L42)). honestly, i'm not really convinced this ticket will add

[2016-11-01 17:15] drusellers commented on #88
`(String, i32)` is close to what ToSocketAddrs wants `(&str, u16)` - i decided to tackle this issue because it seemed like an easy change to just adjust some internal `types` more than anything. So the `SocketAddr` really just composes those two values (the String and i32). Also, a quick google search seems to confirm that ports are limited to `u16`. So we have one field that from a `type` perspec

[2016-11-01 17:51] xitep commented on #88
ah ... i think i wasn't clear in my previous comment and misled you. sorry for that. my point was this:

* you suggested to generify `KafkaConnection::new` over the `ToSocketAddrs` impl type which would "ripple up until it's complete". this leaves the user with the choice of the actual type implementing `ToSocketAddrs`. that's how i understand the requirement of this ticket. so far so good.
* now,

[2016-11-02 23:39] drusellers commented on #88
Ok, given the following valid test.

[code]

Is it worth converting over the kafka metadata to use a `SocketAddr`? The `SocketAddr` can be used directly by the `TcpStream::connect` call. That would let us allow users to specify how they want but then internally the client just stores it as a `SocketAddr`. When new metadata comes in, we can convert the `(String, i32)` easily to a socket address. We

[2016-11-03 07:21] xitep commented on #88
yeah, seems like that would do the trick! :) :+1:

i see two disadvantages though:

a) giving up on hostnames will make the log output less friendlier to use (mine issue; effects mainly debugging)

b) storing the resolved ip at the point in time the user provided it (note: `kafka-rust` would initiate the dns lookup request) and giving up on the hostname, means that you'll not be able to re-resolve

[2016-11-03 20:49] drusellers opened #134 "First send to Kafka takes a very long time (1+ min)"
On my local kafka setup (installed using brew) the initial client creation is pretty pricey (expected based on the docs on the site) but surprisingly the first message written to kafka is time consuming as well. Is this expected behavior? I'm a kafka newb.

[2016-11-03 22:21] xitep commented on #134
no `1+min` times are certainly not expected. do you care to share your test set-up? it's a bit difficult to help without seeing what's going on. have you maybe tried the same with another client to validate the problem is with `kafka-rust` (there's s `bin/kafka-console-producer.sh` in the kafka binary distribution)?

[2016-11-04 15:13] ChrisMacNaughton opened #135 "UnknownTopicOrPartition upon "on the fly topic generation""
I'm playing with kafka for the first time, and I'm running into some issues? I've stared with both kafka 0.9.0.1 and 0.10.1 and I'm having the same problem.

I have auto creation of topics enabled on the cluster, and I'm doing:

[code]

to try to ensure creation of the topic. That part is working fine, and the topic IS created in kafka. After that, I'm trying to send in records with:

[code]

and

[2016-11-04 15:37] xitep commented on #135
yes, this is a (known) problem of `kafka-rust`; thanks for the ticket!

from the top of my head: the problem is that when you send the `load_metadata` request, kafka will respond with metadata which doesn't contain the requested topic (since it doesn't exist yet) and at the same time it will try to create it (if the corresponding option is enabled at the broker side.) `kafka-rust`, however, initia

[2016-11-04 15:44] xitep commented on #135
oh ... another, potentially less complicated workaround would be to:

[code]

[2016-11-04 15:45] ChrisMacNaughton commented on #135
I don't think that this will solve it: I've got the topic visible, and I can restart my service and it doesn't ever work. The topic has now been created for a little while, but the kafka-rust producer isn't seeing it? It looks like I'm getting a TopicMetadata error: 5, which means, as far as I can tell, that the topic leader isn't available?!

[2016-11-04 15:52] ChrisMacNaughton commented on #135
Also, I can see the topic in client.topics(), doing:

[code]

shows:
[code]

[2016-11-04 15:56] xitep commented on #135
ah ... i see. well, now, that the topic is created, but none of its partitions has a leader you hit probably a missleading error message. from the point of view of `kafka-rust` no partition exists. i agree this could be improved of course.

[2016-11-04 15:59] ChrisMacNaughton commented on #135
So, looking in KafkaManager, it looks like the topic is created ()done manually now), has 3 partitions, 3 replicas, has leaders for each partition, yet it still shows up with no brokers in kafka-rust?
[code]

[2016-11-04 16:00] xitep commented on #135
hm ... sounds like something's wrong within `kafka-rust` then :/

[2016-11-04 16:01] ChrisMacNaughton commented on #135
maybe my setup too, still digging -_-

[2016-11-05 21:30] drusellers commented on #134
Ok. Its my settings or something. The shell version takes just as long.

<details>
 <summary>Kafka Config</summary>

[code]
</details>

Its just a basic homebrew install of kafka.

[2016-11-06 10:10] xitep commented on #134
thanks for the feedback; feel free to re-open this ticket if it turns out to be `kafka-rust` specific.

[2016-11-06 10:10] #134 closed

[2016-11-06 10:44] xitep commented on #134
@drusellers i used your config on a freshly downloaded [kafka_2.10-0.10.1.0 binary distribution](http://kafka.apache.org/downloads) and things seem to work fine for me:

[code]

[2016-11-06 13:57] drusellers commented on #134
Right on. I'll have to repro. Thank you for sharing your script. :)

[2016-11-08 16:01] ChrisMacNaughton commented on #135
so, I haven't managed to get this working even when creating the topic before connecting to the cluster. I'm not sure how to dig in more

[2016-11-08 16:11] xitep commented on #135
i suppose you tried using `kafka-console-{consumer, producer}.sh` from the kafka distribution to verify the problem is only with `kafka-rust`.

[2016-11-08 16:19] ChrisMacNaughton commented on #135
I was using the kafka manager (from Yahoo) to view and manage topics, can try again soon with the `kafka- console*`

[2016-11-08 16:32] xitep commented on #135
could you maybe provide the full debug output of your kafka-rust test app?

[2016-11-08 19:09] ChrisMacNaughton commented on #135
As it turns out, I think it was a firewall issue?! I've got it working now so I'm not 100% sure what was wrong

[2016-11-09 06:43] xitep commented on #135
ok, thanks for the feedback; i still believe your initially problem about `kafka-rust` not seeing on-the-fly created topics remains; though, it is questionable whether it actually wants to support this scenario. i'll occasionally set up a new ticket of it.

[2016-11-10 20:14] ChrisMacNaughton commented on #135
@xitep I just had it see the auto created topic, after a few seconds between requests (it still failed hard on the request that would auto-create the topic)

[2016-11-10 22:14] xitep commented on #135
@ChrisMacNaughton i had a chance to reproduce your problem.

the following program works for me (i.e. successfully sends the message) against a local kafka broker configured with `auto.create.topics.enable = true`:

[code]

usage: `./target/debug/examples/example-produce localhost:9092 my-topic-2p localhost:9092 topic-1`

the trick is at the place marked with "HERE" in the above code - it checks w

[2016-11-15 12:40] hh9527 commented on #122
rust-openssl 0.9.x has a better build-script in windows, why not upgrade directly to 0.9.x?

[2016-11-15 14:22] xitep commented on #122
@hh9527 feel free to submit a PR

[2016-11-16 03:44] hh9527 commented on #122
@xitep Sorry, I am in restricted region, and can not give a PR. There is a diff patch to support openssl-0.9

This change will cause a break change for SSL. Example:
[code]

[support-openssl-0.9.diff.txt](https://github.com/spicavigo/kafka-rust/files/593708/support-openssl-0.9.diff.txt)

[2016-11-18 05:48] hh9527 commented on #122
ping @xitep, is this patch OK

[2016-11-18 09:00] xitep commented on #122
@hh9527 unfortunately, i don't have much time for this. with your patch applied, `cargo test` fails for me due to an example no being up-to-date. further, `cargo build --no-default-features` fails as well. may i ask you to look into this?

[2016-11-19 04:41] hh9527 commented on #122
@xitep I will try to give a PR after I installed MSVC in my personal laptop next week and fix that, but I am not sure...

[2016-11-25 02:18] dead10ck opened #138 "Integration testing"
Currently, much of the code that requires doing actual networking calls to a Kafka server are not tested. We can take advantage of Docker and Travis to enable integration testing the networking methods. I did some research and playing around today, and I came up with a setup that seems to work.

Basically, we set up a `docker-compose.yml` that uses a public Kafka container from the Docker registry

[2016-11-26 09:14] xitep commented on #138
yes, that definitely is quite cool! 👍 (many many thanks for the initiative!) it's a start to build up a integration test suite - which is missing so far. Some points/ideas coming to my mind:

* can we run `cargo test` without the integration tests? (executing merely the unit tests; i'd say during development one wants to run the unit tests more often than the full integration tests since the latte

[2016-11-26 22:54] dead10ck commented on #138
Yep, `cargo test` has the `--doc`, `--lib`, and `--test` options for running the documentation, unit, and integration tests, respectively.

Yep, as I described, all you need to do is set the `KAFKA_VER` env variable, and then do `docker-compose up -d`, and then you're good to go. It would be simple to write a script or a Makefile to do this automatically.

Sorry, this was not obvious. The `wurstme

[2016-11-27 23:14] dead10ck commented on #138
I just added a script named `test` to my branch which takes care of the docker setup and runs all tests with all Kafka versions automatically, if you'd like to check it out.

[2016-12-03 10:02] xitep commented on #138
@dead10ck thanks for all your answers and the script. the idea becomes clearer to me. i like it! 👍 i'm a bit worried about the fact that the we'd need to spread the the topic creation (i.e. setting up the test) from the actual tests (this might lead to a difficult-to-maintain test-suite.) currently, this is our only chance. and as you'd said we can improve on this in the future.

[2016-12-09 10:21] stephanbuys commented on #63
@xitep, tokio-rs + futures definitely the way to go, had a discussion with the developers and a tokio-rs based kafka client is something they are very interested in seeing.

[2017-01-19 16:48] pimeys opened #142 "Tokio integration?"
Is there any plans of integrating this crate with tokio and having async IO?

[2017-01-19 17:01] dead10ck commented on #142
We currently have an issue for tracking this: https://github.com/spicavigo/kafka-rust/issues/63 . As far as I understand, `tokio` and `futures` are both still relatively unstable, though I think they may be ready for experimentation.

[2017-01-19 17:01] #142 closed

[2017-01-19 17:10] pimeys commented on #63
Tokio 0.1 is out. It would make lots of sense to build consumers on top of it. There's already action going on in Hyper land (HEAD works well with Tokio) and a working async Postgres client. Having a Tokio enabled event stream library, either RabbitMQ or Kafka would be a superb addition to the toolbox.

[2017-01-27 06:23] dead10ck commented on #138
If you're a newcomer, welcome! I have a PR open that adds a basic integration testing framework via Docker: #143. If you're familiar with Docker setups, I would appreciate a review! The tests in the PR are rather basic, but I wanted to get the framework settled first. Once it's merged, others can begin backfilling integration tests.

[2017-02-02 09:26] bluejekyll commented on #63
I'm using rust-kafka a little right now. I thought others might be working on this. If not I have a bit of experience with tokio and now tokio-tls. If no one else is working on this, I might be able to start something.

[2017-02-02 09:30] pimeys commented on #63
I have lots of experience with Rust but not so much with tokio (except having a POC of apns on top of Hyper tokio). We need this lib as an async version later on this year, so I should help and learn too. I just have no idea how big of a change it is for rust-kafka.

[2017-02-02 13:08] xitep commented on #63
@bluejekyll @pimeys feel free to tackle it (just talk to each other :)). i had some "getting familiar with mio/tokio" experiments last year, but i grew too busy in other areas in the meantime.

from what i observed, it might be easier to start a new "kafka client/reactor" and overtime try to see how it could be utilized within `Consumer/Producer` and maybe even `KafkaClient`. but I expect the new

[2017-02-03 01:37] bluejekyll commented on #63
OK, as I have time I'm going to try and work on this. No promises... but all my commits will be here: https://github.com/bluejekyll/kafka-rust/tree/bfry/tokio-future

What I'll do is try and keep a similar high level interface as Consumer::poll(), and then change the KafkaClient to use tokio-core streams, with an option to use tokio-tls (which wraps the tokio TcpStream and native-tls nicely). @pim

[2017-02-03 07:10] stephanbuys commented on #63
@bluejekyll, definitely ping @carllerche about this - he's personally interested in a kafka tokio-powered client.

[2017-02-09 18:15] dead10ck opened #145 "SipHasher has been deprecated"
[`SipHasher`](https://doc.rust-lang.org/std/hash/struct.SipHasher.html) has been deprecated in favor of [`DefaultHasher`](https://doc.rust-lang.org/std/collections/hash_map/struct.DefaultHasher.html), but `DefaultHasher` says

We need to use a stable hashing algorithm to avoid surprises with data distribution.

[2017-02-10 17:32] dead10ck commented on #138
This has been merged in #143. Let's keep this issue around to track backfilling integration tests for the rest of the crate, where appropriate.

[2017-02-17 08:27] xitep commented on #145
just for reference; the `KafkaProducer` part of the official kafka distribution uses a [32bit murmur2 hash](https://github.com/apache/kafka/blob/trunk/clients/src/main/java/org/apache/kafka/clients/producer/internals/DefaultPartitioner.java#L69) by default.

[2017-04-12 03:57] flier opened #149 "Make `kafka-rust` independent of system/non-rust dependencies."
`kafka-rust` is using some system/non-rust dependencies, such as miniz(flate2), libsnappy (snappy-sys), and libopenssl (openssl-sys) etc, which cause the deployment was limited by those native libraries.
[code]

I'm working on the PR #148 to replace `snappy` with `snap` in pure rust, I think we may replace the other  system/non-rust dependencies in future.

For example, replace `openssl` with `nat

[2017-04-13 07:24] xitep commented on #122
Thanks you @flier we've got upgraded to 0.9. Will keep this ticket open until 0.6 get published to crates.io.

[2017-04-19 11:18] xitep opened #153 "topic-metadata: output partitions' replication state"
`examples/topic-metadata` prints for example:

[code]

we'd also like to see a partition's configured replicas and in-sync-replicas; these correspond to the [partition metadata fields `partition` and `isr`](https://github.com/spicavigo/kafka-rust/blob/master/src/protocol/metadata.rs#L54).

[2017-04-25 15:48] xitep commented on #116
Resolved by #148; will close this issue once 0.6 is pushed to crates.io.

[2017-04-25 16:13] xitep commented on #145
Resolve, but will keep this open until 0.6 is pushed to crates.io.

[2017-04-25 20:34] xitep opened #154 "Reading compressed message sets fails with UnexpectedEOF"
Over at [monchan](https://github.com/xitep/monchan) the "produce-consume-integration" test fails if a large enough message-set is created. The following invocation fails:

[code]

The equivalent invocation with `--produce-msgs-per-topic 1000` passes the test. I can observe the same behaviour with the snappy compression. Without any compression the test passes in both cases. According to the size o

[2017-04-26 06:06] xitep commented on #154
my bad :/ unlike kafka-rust's [Consumer](https://github.com/spicavigo/kafka-rust/blob/master/src/consumer/mod.rs#L279) monchan doesn't automatically increase the max-size for a partition when fetching messages. this results in the broker sending only fraction of the message set, making kafka-rust fail when parsing the response with an `UnexpectedEOF`; from kafka-rust's perspective this is actually

[2017-04-26 06:06] #154 closed

[2017-04-28 02:35] dead10ck opened #155 "Switch to error_chain"
We should switch to the [`error_chain`](github.com/brson/error-chain) crate for our error handling; there is currently a lot of boiler plate code, which will only get bigger as the crate matures. It will help us reduce this boiler plate, among other benefits.

[2017-04-28 06:42] xitep commented on #145
@dead10ck i saw [your comment](https://github.com/spicavigo/kafka-rust/pull/151#pullrequestreview-35267233) about preferring the same hash algorithm as the official java clients, i.e. 32bit murmur2. i have to agree that this would make the best default. on the other hand, it appears that [sarama](https://github.com/Shopify/sarama), the golang kafka client, uses FNV-1 by default. i haven't checked

[2017-04-28 11:28] #116 closed

[2017-04-28 14:27] dead10ck commented on #145
No, I'm not sure it's a big deal. I think this will be fine.

[2017-04-28 15:52] xitep commented on #145
just published on [crates.io](https://crates.io/crates/kafka/0.6.0); closing this ticket.

[2017-04-28 15:52] #145 closed

[2017-04-28 15:53] xitep commented on #128
just published on [crates.io](https://crates.io/crates/kafka/0.6.0); closing this ticket. many thanks! 👍

[2017-04-28 15:53] #128 closed

[2017-04-28 15:53] xitep commented on #122
just published on [crates.io](https://crates.io/crates/kafka/0.6.0); closing this ticket. many thanks @flier! 👍

[2017-04-28 15:53] #122 closed

[2017-04-28 15:53] xitep commented on #116
published on [crates.io](https://crates.io/crates/kafka/0.6.0)

[2017-04-28 16:07] dead10ck commented on #122
Thanks @flier !! :)

[2017-05-14 16:20] flier commented on #63
Hi @stephanbuys , @bluejekyll and @carllerche,

I'm working on a prototype [tokio-kafka](https://github.com/flier/tokio-kafka) based on `tokio-core` and `kafka-rust`, the example `topic-metadata` and `console-producer` could works, would you like to take a look?

We may provides API compatibility for `kafka-rust`, or merge it to `kafka-rust` as an async layer later.

[2017-06-20 16:22] jinyuanxie opened #159 "more than one consumer in the same group receive the message?"
I create a topic with 1 partition, and use the following code to create some consumers:

[code]

then use the following code to listen the topic's message:

[code]

Also, I notice that **no output** like the following when those consumers start:
[code]

which will be generated when using `kafka-console-consumer.sh` with the same `group.id` in properties file.

Edit:
When add `.with_offset_storage(

[2017-06-20 19:49] dead10ck commented on #159
I'm sorry, I'm not understanding what the problem is from your description.

[2017-06-20 19:50] dead10ck commented on #159
Also, can you tell me anything about what version your Kafka cluster is, and what kind of environment it's running in?

[2017-06-20 23:31] jinyuanxie commented on #159
cc @dead10ck
In a nutshell, when using the `kafka-console-consumer.sh` with `group.id` property, only **one consumer** instance will receive the message, but **all my consumer** instance will receive the message, which is not excepted.

* Kafka version: 0.9.0.1
 * OS: Ubuntu 16.04.1 LTS (GNU/Linux 4.4.0-53-generic x86_64)

Kafka topic create by:
`./kafka-topics.sh --create --zookeeper localhost:12

[2017-06-21 01:08] dead10ck commented on #159
@jinyuanxie oh, I think I understand. From what I gather, you're talking about how the official Java clients [handle multiple consumers on a single group ID](https://cwiki.apache.org/confluence/display/KAFKA/Consumer+Group+Example), yes?

The situation for this is unfortunate. If you look at the [Kafka protocol documentation](https://cwiki.apache.org/confluence/display/KAFKA/A+Guide+To+The+Kafka+P

[2017-06-21 01:12] dead10ck commented on #159
It's also worth noting that in your particular example, the [official documentation](https://cwiki.apache.org/confluence/display/KAFKA/Consumer+Group+Example) for the high level consumer mentions that

So your second consumer should actually never receive any messages.

[2017-06-21 01:43] jinyuanxie commented on #159
Thanks for your reply, the dynamic balancing is handled by the client not
 kafka server, right?

I think I know how to deal with my problem temporarily.

ps: Maybe I can make a discovery in `libkafka` to find out how to implement this feature after finish my assignment and final exam :(

Thank for your help.

[2017-06-21 04:12] dead10ck commented on #159
Sorry about this. I think I'll close this issue until something changes though.

[2017-06-21 04:12] #159 closed

[2017-06-30 18:13] dead10ck commented on #155
This was implemented in #156

[2017-06-30 18:13] #155 closed

[2017-10-17 16:14] #101 closed

[2017-12-20 06:49] cmusser opened #163 "How to handle MessageSizeTooLarge"
I'm using the Consumer class to read a stream of messages and every so often there's a rogue big one. When this happens, my loop's `consumer.poll()` call returns an `Err` value. Once this happens, the consumer doesn't move past this offset and all subsequent calls to `consumer.poll()` just return the same error. The loop (in greatly elided form looks like:

[code]

The questions are:

1. What does

[2017-12-20 23:34] dead10ck commented on #163
Hi @cmusser, I'm not the main author, so I may not have the best answers, but I'll try my best.

1. According to the [Kafka API docs](https://cwiki.apache.org/confluence/display/KAFKA/A+Guide+To+The+Kafka+Protocol#AGuideToTheKafkaProtocol-ErrorCodes), `MessageSizeTooLarge` is supposed to be returned by the Kafka server upon a *produce* request when a client attempts to send a message that is large

[2017-12-21 06:47] cmusser commented on #163
Ok, that all makes sense. That destroy/reconnect thing seems a little hard to pull off, but increasing  `fetch_max_bytes_per_partition` is reasonable enough. Realistically, our upstream application is allowing ridiculously large data items, so the problem could be headed off there as well.

I'll try increasing the fetch size.

[2017-12-21 14:45] xitep commented on #163
hello,

indeed - as @dead10ck pointed out - this error is not returned by the broker, but by the rust consumer implementation. this error is raised [by the consumer in a very specific situation](https://github.com/spicavigo/kafka-rust/blob/master/src/consumer/mod.rs#L307), ie. when the consumer realizes that there are indeed messages to be fetched but it cannot do so, due to a too low value for th

[2018-02-10 09:28] vorner opened #164 "Make the Error Sync"
Hello

The `Error` type doesn't play very nice with the `failure` crate. Would it be possible, once this https://github.com/rust-lang-nursery/error-chain/pull/241 lands and is published, update the version of error chain used?

Thank you

[2018-03-12 21:09] kamek-pf commented on #164
Running into this now, what's your current workaround @vorner ?

[2018-03-12 21:20] vorner commented on #164
To `map_error` it to some error of my own and let `failure` handle that. Not really an elegant solution.

[2018-04-06 01:40] jwilm commented on #88
Switching to a `ToSocketAddrs` argument forces _rust-kafka_ to use synchronous DNS resolution. With the efforts underway for #63 and #81, I imagine there will be a desire for alternative name resolution to support async reconnection of failed brokers.

[2018-04-13 20:47] Hoverbear commented on #88
@xitep  It's been too long for me to remember. :P I'm sorry. Maybe it's better just to not do this then.

[2019-02-08 13:45] mancioshell opened #167 "UnknownTopicOrPartition on not yet created topic"
I'm using kafka-rust simple cosumer within a rust container togheter with a kakfa container.

This is my docker-compose.yml:
[code]
This is the simple consumer client took from kafka-rust example folder.

[code]
In docker-compose i have specified to wait until kafka is ready to accept connections, before start kafka-rust client. But unfortunately i can't wait for kafka creation of 'mediator-topic'

[2019-02-08 15:41] dead10ck commented on #167
This is outside the scope of `kafka-rust`. You'll have to figure out a way to wait until the topic exists before running your consumer. In this repo's own integration tests, we did something kind of clumsy, which was to look for a log line in the Kafka docker container, e.g.

[code]

Something better might be to use the official Kafka shell utilities to query the brokers for their topic metadata.

[2019-02-08 15:41] #167 closed

[2019-04-30 17:01] l4l opened #169 "Consumer reconnection"
What is the proper way of maintaining a "reliable" consumer? And by reliable I mean that it should be available during whole program execution. Particularly, if there's an error on some call, it should try to recover, if possible (e.g. in case of loosing connection, it should reconnect to the broker)

Should the consumer::Consumer re-constructed once again (and again, ...) in such a case? Or it mi

[2019-05-24 06:34] gklijs commented on #163
@dead10ck I'm considering putting some work in to get this project up to date. I used rdkafka bit having a pure rust client woud be nice. At least I'll going to give it a try just using it and comparing performance to rdkafka. Of the three owners at crates.io you are the only one with recent github activity. Would you have time to look at pr's?

[2019-05-24 19:47] dead10ck commented on #163
Hi @gklijs, that would be cool. I'm afraid since my daughter was born, I realistically don't have any spare time to contribute to this crate any more. I couldn't promise reviews in a timely fashion, but I can try. If you became a regular contributor, I'm sure @xitep can figure out how to get you push access.

With that said, I don't know that any performance tests have been done, but I would still

[2019-05-24 22:26] gklijs commented on #163
Doing the performance test will be little work. I'm still a bit unsure what would make the 'best' rust Kafka library. Especially on the decision to depend on librdkafka or not. Probably 'it depends' would be applicable.

[2019-05-25 17:29] gklijs commented on #82
I think this is the biggest problem with the library for now. Currently I send each message separately causing a high load on the broker https://open-bank.gklijs.tech/average-kb-cpu.html. In the newer clients there is a configuration linger.ms for the producer. On 0 it will send each message as soon as send is called. But when set, for example at 100 ms. it will fill a queue and send when either t

[2019-05-26 06:54] gklijs commented on #169
I would expect the library to solve it for you. What's the current behaviour when a connected broker fails?

[2019-05-29 06:04] gklijs commented on #163
@dead10ck here are the slides from my talk yesterday comparing the two Kafka rust clients with two JVM ones https://speakerdeck.com/gklijs/adding-some-rust-to-your-kafka raw data is available at https://github.com/gklijs/open-bank-mark/tree/data-ch-languages-one-broker/resources I haven't really made up my might yet about contributing to this library. It seems pretty hard to make it on par with th

[2019-06-06 05:06] dnrusakov opened #170 "Add support of Kafka producer transactional api"
Currently the following methods of Kafka vanilla producer API are not supported:

1. initTransactions()
2. beginTransaction()
3. commitTransaction()
4. abortTransaction()
5. sendOffsetsToTransaction()

Implementing this methods will unlock Kafka transactional features like atomic publishing into several topics and exactly-once delivery semantic.

[2019-06-07 15:04] gklijs commented on #170
It will need a lot of work probably. Already the current producer is very limited. Not having support for `linger.ms` for example or be 'aware' how many messages can be send in one go.

[2019-07-20 05:34] joshushua opened #171 "Increase version of crate openssl from 0.9 to 0.10"
The current version, 0.09, isn't compatible with OpenSSL 1.1.1 library on Linux. During compilation, Rust seems to have trouble detecting OpenSSL.
[code]

[2019-07-20 05:35] #171 closed

[2019-07-25 21:25] bcashier opened #172 "error: failed to run custom build command for `openssl-sys v0.9.48`"
Hi

I can't get Kafka compiled on my Windows PC:

        Windows 7 64bit
        Rust: rustup 1.18.3 (435397f48 2019-05-22) - Stable
        Cargo: cargo 1.36.0 (c4fcfb725 2019-05-15)

Each time I am trying to compile my program, I am getting this error message:

[code]

Any help please ?

[2019-07-27 02:44] bcashier commented on #172
@dead10ck @xitep @gklijs

Hi,

Is there a way I can fix this issue please ?

Thank you in advance.

[2019-07-27 02:53] dead10ck commented on #172
@bcashier I'm sorry, I don't have a Windows machine to help you debug. Did you try following the suggestions in the error message?

[2019-07-27 03:35] bcashier commented on #172
@dead10ck Thanks for your answer sir :)

After I tried this command on Windows:
`vcpkg install openssl:x64-windows-static`

I get this new error message:

[code]

:(

[2019-08-08 02:54] #172 closed

[2019-10-09 19:46] stephenlb opened #177 "Failed consuming messages: failed to lookup address information: nodename nor servname provided, or not known"
# Repo example does not work on MacOS or Docker.

[code]
Fails with:
[code]

[code]

## Docker-Compose for Kafka

[code]

[2019-10-09 20:03] stephenlb commented on #177
Config issue with Kafka / Docker.  Fixed.

[2019-10-09 20:03] #177 closed

[2020-01-08 03:01] EBWi11 opened #178 "Kafka Producer Many CLOSE-WAIT"
my producer conf is :
[code]
sometimes have:
[code]
All TCP Connect is CLOSE-WAIT

[2020-01-09 09:39] EBWi11 commented on #178
this situation always happend when producer run 5-20 hours, i can true kafka server is work,and i can't find any eror log for this situation in kafka server.

[2020-01-13 00:31] Jesse-Cameron commented on #100
I spent a bit of time looking into this issue over the weekend. I would like to take a shot at implementing a solution. Code will live here: https://github.com/jesse-cameron/kafka-rust

Let me know if anyone has any thoughts on potential traps or ideas.

[2020-01-21 02:09] EBWi11 commented on #178
if i use kafka clusters, 20-30 hours later....i can get 900+ CLOSE-WAIT....

tcp   ESTAB       0       0                               192.168.49.107:56674                                    10.22.73.9:9092                                users:(("agent",pid=24562,fd=952))
tcp   CLOSE-WAIT  1       0                               192.168.49.107:42210                                   10.22.73.20:90

[2020-02-24 21:39] Diggsey opened #179 "Code generator for kafka message format"
I have a toy rust kafka client that I've been developing. It's nowhere as far along as this one, but it does have a code generator for the kafka message format which I believe is on-par with the official java client.

You can see the generated code here:
https://github.com/Diggsey/franz/tree/master/src/network/messages

You are welcome to use this code under the existing license of this project if

[2020-03-18 23:03] scirner22 opened #181 "Write to stream not writing full buffer"
Using the producer with ssl configured I hit a sequence of logs like this.

[code]

The underlying stream.write attempts to send 27155 bytes but only writes 16384 bytes. It appears to start trying to read the response before the full original request was written to the stream. This is the closest thing I could find to any restriction that is taking place, but this should allow a lot more bytes to

[2020-04-05 17:59] mrRo8o7 opened #184 "Graceful shutdown of polling consumer"
Is there a way for a graceful shutdown of a polling consumer (e.g. timeout the poll() call) ?

[2020-04-05 18:03] mrRo8o7 commented on #184
Ahh, there is a timeout already. Sorry.

[2020-04-05 18:03] #184 closed

[2020-06-07 00:32] metamemelord commented on #135
Any fixes for this?

I am facing the issue even when I have created the topic via shell script shipped with Kafka. I printed the topics, everything looks normal, however as soon as I produce a message, the code panics `Error while producing: Error(Kafka(UnknownTopicOrPartition), State { next_error: None, backtrace: None })`

[2020-08-03 14:17] scirner22 commented on #181
I moved to rdkafka library. It seems like this library is not maintained.

[2020-08-03 14:44] dead10ck commented on #181
Hi @scirner22 yes, unfortunately, this lib hasn't had an active maintainer in quite some time. At this point, I would recommend using rdkafka instead. However, I'll keep this issue open in case someone ever comes along to pick this project up.

[2020-08-03 15:12] dead10ck opened #185 "Project needs maintainer"
Unfortunately, I have not had time the last few years to continue maintenance of this project, nor has @xitep or @spicavigo. Please post here if you are interested in becoming a maintainer.

[2020-08-12 08:38] synlestidae commented on #185
@dead10ck Have you posted this to reddit or to the [rust users forum](https://users.rust-lang.org/)? Sad to see a big project like this go without a maintainer. I sent this issue to Confluent. Perhaps they could be interested.

[2020-08-12 12:41] dead10ck commented on #185
I've had it posted in the Call for Participation section of the This Week in Rust blog in the past, and it didn't get any response. That was a while ago, though, so it may be worth posting again.

[2020-08-27 07:27] gklijs commented on #185
Confluent most certainly isn't mostly because it's not using librdkafka, like all the other Confluent supported non-jvm clients do. I have to think about it very hard myself. It's an awesome project, but it's hard to keep up with all the features added. I know it will soak up a lot of time.

[2020-12-11 21:55] johnward commented on #185
Are you still looking for a maintainer for this project I would be interested in taking it on, thanks John

[2020-12-14 17:45] dead10ck commented on #185
Hi @johnward! Thank you for volunteering! It looks like I do not have admin access on the repo, so paging @xitep or @spicavigo.

[2020-12-15 14:21] johnward commented on #185
OK great - what is the best way forward? thanks

[2020-12-18 14:57] spicavigo commented on #185
I have sent an invitation to @johnward

[2020-12-22 10:35] johnward commented on #185
Thank you, I will start tolook at some issues over the next few weeks.

[2020-12-22 10:37] johnward commented on #181
I will uses this as my first issue to look at. Thanks, John

[2021-02-12 09:07] johnward commented on #185
I've started to tidy up the library. I am going through the examples over the next week or so. Then I will tackle the remaining issues. I use Kafka in my day job and see this as an important library for Rust.

[2021-02-12 09:07] #185 closed

[2021-02-12 11:05] lerouxrgd commented on #185
Hello, this might be a bit late but I'd be interested in contributing.

Last year I worked a bit on a full Rust implementation of the Kafka protocol, code [here](https://github.com/lerouxrgd/kafka-rs)
The idea was to:
- Parse the [official spec](https://kafka.apache.org/protocol.html) with the [spec-parser](https://github.com/lerouxrgd/kafka-rs/tree/master/spec-parser) module (using a small [pest]

[2021-02-12 12:13] johnward commented on #185
I would be interested in reviewing this approach. thanks

[2021-02-12 13:07] Marwes commented on #185
I suppose I should point out a similar specification which I have worked on to and from https://github.com/Marwes/kafka-protocol .

Some notable distinctions

* It strives to be zero-copy as much as possible (definitely possible to take this further however).
* No `std::io::Read/Write`, just parsing from `&[u8]` which tends to be much faster
* The above, in conjunction with care to not use non-Sen

[2021-02-12 13:54] johnward commented on #185
This is all very useful, thank you! Weekend reading and then to make a plan for development.

Thanks!

[2021-02-16 15:01] fegies opened #186 "Support zstd compression"
at the moment all clients using this library fail with KafkaError::Unknown upon encountering a zstd encoded message.

[2021-02-19 15:02] johnward commented on #186
Thank you for raising this, please can you let me know how to reporduce this problem?

[2021-02-19 15:50] fegies commented on #186
I'll try to take some time this weekend and create a pr with a test case demonstrating the case if you like

[2021-02-19 19:41] johnward opened #187 "Move Repo to new home (github.com/kafka-rust)"
@spicavigo - Would it be possible for your to transfer the repo to github.com/kafka-rust, so in the settings transfer it to the organistion 'kafka-rust'. I've discussed with @dead10ck and we think it is a good idea, I will add you both to the organsation. This will help encourage the community to contribute to it.

[2021-02-19 20:05] johnward commented on #186
Thank you!

[2021-02-20 04:06] spicavigo commented on #187
I get the following error:
You don’t have the permission to create public repositories on kafka-rust

[2021-02-20 10:29] qiujiangkun opened #188 "Reads no messages in fetch message but raw data is present"
I'm using the example code https://github.com/spicavigo/kafka-rust/blob/master/examples/example-fetch.rs but cannot get it working. I found that "data.messages()" is empty but raw_data is full of data. Note that my key is a timestamp in i64.
[code]

[2021-02-20 10:45] qiujiangkun commented on #188
https://github.com/spicavigo/kafka-rust/issues/57
`client.set_fetch_max_bytes_per_partition(5 * 1024 * 1024);` solved the problem

[2021-02-20 10:45] #188 closed

[2021-02-20 10:46] johnward commented on #187
I’ve added you and Skyler as a member to the organisation.

[2021-02-24 13:04] qiujiangkun opened #189 "Can I limit the amount of messages I receive from kafka cluster?"
I've implemented a binary search algorithm based on kafka key, however I found that each time I got a large amount of data than I need (just one).
Currently `with_max_bytes()` is not what I need, since I cannot receive any data if it is set too low. The behavior I like is to abondon the exceeding data.
How can I limit the amount of messages I receive from kafka cluster?

[2021-02-25 10:14] johnward commented on #189
You a subscribe to the topic and filter the messages, can you share a bit more with what you are trying to do?

[2021-02-25 10:16] johnward commented on #187
It would be really great if we can get this sorted. I then plan to write some articles to promote the project. Thank you so much in advance.

[2021-02-25 10:39] qiujiangkun commented on #189
Yep, here's my code. `set_time` and `collect_items` need a single message each time, but I always receive a lot of messages.

[code]

[2021-02-25 15:26] dead10ck commented on #189
@qiujiangkun what you're asking for is simply not possible with Kafka. They explicitly designed Kafka to send and retrieve messages in [batches](https://kafka.apache.org/protocol.html#protocol_batching). You can only specify a maximum number of bytes, not a maximum number of messages.

Moreover, it sounds like you're trying to fetch data from Kafka as if it were a database. Kafka is not a database

[2021-02-25 15:26] #189 closed

[2021-02-25 16:25] qiujiangkun commented on #189
Thanks. I'll explain my usage more clear here.

I need to **store** messages in real time, and **reply** them from a starting time(so I need this bisearch **just once** each time) multiple times as I wish. There's currently no other solution that
1) has no performance hit as the message number increasing. Even TimescaleDB and InfluxDB maintains indexes in real time(which I don't need) and the perf

[2021-03-01 11:51] spicavigo commented on #187
I tried again and same error

[2021-03-02 13:30] johnward commented on #187
It was because you didn't accept my invitation to the kafka-rust organisation. I tried a test repo and it tranfered immidiately. I will send you another invitation. thanks

[2021-03-02 22:33] johnward commented on #187
The repo has now moved to https://github.com/kafka-rust/kafka-rust. I'm excited to take it forward. Thank you :-)

[2021-03-02 22:33] #187 closed

[2021-03-22 23:22] johnward opened #190 "Fix test_kafka_client_load_metadata test"
This was broken due to the dependency and Rust upgrade

[2021-03-22 23:22] johnward opened #191 "Fix test_produce_fetch_messages test"
This was broken due to the dependency and Rust upgrade

[2021-03-22 23:23] johnward opened #192 "Fix test_commit_offset test"
This was broken due to the dependency and Rust upgrade

[2021-03-22 23:23] johnward commented on #192
See this commit: https://github.com/kafka-rust/kafka-rust/commit/4e34584b6cf3fd0ddf950296c2211734bb94c108

[2021-03-22 23:24] johnward opened #193 "Fix test_commit_offsets test"
This was broken due to the dependency and Rust upgrade

See this commit: https://github.com/kafka-rust/kafka-rust/commit/4e34584b6cf3fd0ddf950296c2211734bb94c108

[2021-03-22 23:25] dead10ck commented on #192
What's the problem you're running into?

Also, why not just make one issue to fix the integration tests?

[2021-03-22 23:25] johnward opened #194 "Fix test_consumer_poll tests"
This was broken due to the dependency and Rust upgrade

See this commit: https://github.com/kafka-rust/kafka-rust/commit/4e34584b6cf3fd0ddf950296c2211734bb94c108

[2021-03-22 23:26] johnward opened #195 "Fix Integration Tests due to SSL certificate"
Fix the following tests:

test_kafka_client_load_metadata
test_produce_fetch_messages
test_commit_offset
test_commit_offsets
test_consumer_poll
test_consumer_commit_messageset_no_consumes

This was broken due to the dependency and Rust upgrade

See this commit: https://github.com/kafka-rust/kafka-rust/commit/4e34584b6cf3fd0ddf950296c2211734bb94c108

[2021-03-22 23:28] dead10ck commented on #192
Also, I'm not sure that commenting out tests is a great improvement to the library. If the tests are broken, then we fix them, we don't remove them.

[2021-03-23 08:11] johnward commented on #192
Multiple issues, because people wanted a good first issue to work on, so I
thought I would separate them out.

On Mon, 22 Mar 2021 at 23:25, Skyler Hawthorne ***@***.***>
wrote:

--
*John Ward*
Email: ***@***.***
Mob: +44(0)7866 622421

[2021-03-23 12:16] dead10ck commented on #192
Well I'm asking what issue you were running into, because if multiple tests are broken, it's likely all one problem, not that each individual test is broken. You say it is "due to the dependency and Rust upgrade". Could you elaborate what that means?

[2021-03-23 14:16] #194 closed

[2021-03-23 14:16] johnward commented on #194
Moved to a single issue

[2021-03-23 14:17] #193 closed

[2021-03-23 14:17] johnward commented on #193
Moved to a single issue

[2021-03-23 14:17] johnward commented on #192
Move to a single issue, I'm investigating this today.

[2021-03-23 14:18] johnward commented on #191
Moved to a single issue

[2021-03-23 14:18] #191 closed

[2021-03-23 14:18] johnward commented on #190
Moved to a single issue

[2021-03-23 14:18] #190 closed

[2021-03-23 14:18] johnward commented on #192
Moved to a single issue

[2021-03-23 14:18] #192 closed

[2021-03-23 16:27] dead10ck commented on #195
@johnward running the tests locally worked fine for me. What issue were you seeing?

[2021-03-23 16:54] johnward commented on #195
The SSL certificate is not set up localling so causes the secure mode to fail.

Running tests with KAFKA_VER=0.9.0.1, SCALA_VER=2.11, KAFKA_CLIENT_COMPRESSION=NONE, KAFKA_CLIENT_SECURE=secure

Need to check how the SSL certificates are set up for the Kafka docker image.

running 12 tests
test integration::client::test_commit_offset ... FAILED
test integration::client::test_commit_offsets ... FAILE

[2021-03-23 18:31] dead10ck commented on #195
Ah, it looks like openssl has made the default settings more strict, which is making the build host reject the key that the tests are making in memory. This should be a fixable problem though. I think when you see broken tests, the correct response is never to just delete the tests.

[2021-03-23 20:40] johnward commented on #195
I agree. thanks

[2021-03-30 21:59] rodoufu opened #197 "Is there a way to reset the offset of a consumer group?"
Every time an application starts I need to read the last message, so I need to set an offset of `current - 1`.
So I need to set an offset smaller than the current one, how could I do that?

I've tried to use the `commit_offsets` from the `Consumer` with the numbers I want but it does not work.

Something like:
[code]

https://gist.github.com/marwei/cd40657c481f94ebe273ecc16601674b

I don't want to

[2021-03-31 21:41] johnward commented on #197
The offset should be commited once the record has been processed by the consumer so the expected behaviour is that  Kafka to give you the next unprocessed record.

What is the reason for getting the last record processed by the consumer?

I'm really interested to hear about your use case.

Thanks,

John

[2021-04-01 01:12] dead10ck commented on #197
Is seems like what you want is for the high water mark to always be one behind the must recent message so that if the service restarts, it starts at the must recent message again, even if it's been processed before. It seems like the must appropriate thing to do to achieve this would be to always consume one message behind the latest in the topic. So you could keep track of the second to last mess

[2021-04-02 02:43] rodoufu commented on #197
I cannot delay processing messages, but I can delay commiting it.

[2021-04-02 02:48] dead10ck commented on #197
That's right. Committing is separate; a consumer will always read to the end, no matter what progress you commit on your consumer group. So if you always commit one behind, that should hit your use case.

[2021-04-09 10:30] johnward commented on #197
@rodoufu, please let me know if dead10ck's solution worked for you. Thanks.

[2021-04-09 23:35] rodoufu commented on #197
Yes, it did.

[2021-04-09 23:35] #197 closed

[2021-04-16 05:35] dgr113 opened #198 "windows-gnu target compilation [Question]"
When compiling with the following settings:
[code]
This error occurs:
[code]
I use `MinGW64` toolchain pack under `Msys2` on `Win10` OS.
I will say right away that I have very little experience compiling С\C++ applications... so I ask for help =)

[2021-04-16 14:47] johnward commented on #198
I will have a look at this over the weekend, I have only targetted Linux for this library so far (since I have been involved). Give me a couple of days and I will get back to you. thanks

[2021-06-06 22:46] sycured commented on #186
Hello, any ETA?

[2021-06-07 09:00] johnward commented on #186
Waiting for reproduction of issue, but to be honest I've not had that much time recently. But should get time in the next couple of weeks.

[2021-06-27 19:11] #195 closed

[2021-07-29 04:32] sempervictus opened #199 ""for ms in consumer.poll().unwrap().iter()" produces temporary value error"
Following the documented pattern of getting message elements off of the queue, i'm seeing this in compilation on Rust stable 1.53.0:
[code]
which seems like a "no brainer" - yes the temporary value is consumed by the iterator and ends once that block is over, but why its throwing such as an error is a bit beyond me.
The relevant code is roughly:
[code]
Clearly i'm doing something wrong here, just

[2021-07-29 05:34] sempervictus commented on #199
Interesting, so if i break it up as:
[code]
it gets rather unhappy with me, staying
[code]
whereas borrowing `cp` gives me:
[code]
i may have angered the Rust gods at this point, but we wouldn't have fire or skyscrapers if we let that stop us.

Next i commented out the async tokio call and sure enough, it compiled without error. However, the idea here is to kick actual data and back-end ops async

[2021-07-29 05:45] sempervictus commented on #199
Victory. In case anyone runs into this down the line - turns out that a copy of the message bytes needs to be made prior to the `move` a la:
[code]

[2021-07-29 05:45] #199 closed

[2021-07-29 08:30] johnward commented on #199
Great stuff! Thank you.

[2021-08-10 07:11] johnward commented on #51
It would be great if I could find someone to look into this further for me.

[2021-08-10 07:13] johnward commented on #100
Jesse, did you ever get anywhere with a solution for this?

[2021-08-10 07:13] johnward commented on #186
This feature is underway.

[2021-08-10 07:27] johnward commented on #179
Would this be OK to still use this code?

[2021-08-10 08:49] johnward commented on #178
Is this still an issue?

[2021-08-10 10:53] Diggsey commented on #179
Sure - @0x1991babe has [already forked this codebase](https://github.com/0x1991babe/kafka-protocol-rs) and made some improvements https://github.com/0x1991babe/kafka-protocol-rs, so you may want to look at that too.

[2021-08-11 15:33] 0x1991babe commented on #179
Hi @johnward -- it's my intention to publish the protocol codegen as it's own crate. The primary thing blocking that right now is getting this merged upstream: https://github.com/carllerche/string/pull/27.

[2021-08-11 15:51] johnward commented on #179
I will look at this tonight or tomorrow.

[2021-10-25 12:42] rodoufu opened #202 "v0.8.0 is pointing to error-chain = "0.10" that is creating an error"
v0.8.0 is pointing to `error-chain = "0.10"` that is creating an error, do you intend to release a new version?
I see the master is already pointing to `error-chain = "0.12.3"` https://github.com/kafka-rust/kafka-rust/blob/master/Cargo.toml#L21

[code]

[2021-10-28 16:31] #202 closed, assigned to nobody

[2021-12-09 14:33] Alexx-G commented on #63
@johnward Would you be interested in starting a new thread on adopting async? Something like a Kafka client would clearly benefit from embracing lightweight tasks, since it's IO bound mostly.
And I see that now there are good solutions for supporting several runtime options (tokio/async-std/actix etc). IMO the `sqlx` crate is a good example for supporting multiple async runtime options. Perhaps, t

[2021-12-09 15:04] johnward commented on #63
Hi Alex, ths sounds like a good idea, I have been doing some stuff with Async recently and had this thought actually. I still need to complete getting the Crate up to date with the latest rust, then we can do things like this. I would apprecite some help.

[2021-12-10 12:36] Alexx-G commented on #63
@johnward thanks a lot for your work! If you can split the work, on getting the crate up to date, into some focused issues and label which ones are good candidates for entry-level (or first-time) contributions, I'm sure it'll be possible to get some contributions (I can help with some of such tasks). Perhaps creating and pinning a tracking issue for all this work would also help with visibility in

[2021-12-10 12:40] johnward commented on #63
I'll have a look this weekend, thanks

[2022-04-27 13:40] Dzordzu commented on #159
Hi, I've been struggling the same issue. Can you explain to me, why even after commiting the message by one consumer, the other one is able to receive messages?

[2022-04-27 14:16] Dzordzu opened #204 "[Feature request] Support for rebalancing and heartbeat"
* [ ] #205
* [ ] Support for group joining (dunno if it's implemented, but I could not see it within protocol module)
* [ ] Fix polling (add heartbeat), so the consumer can be visible for the kafka
* [ ] Support rebalancing (only one consumer reads from the group)

All features are unsupported (within this library) parts of the [kafka protocol](https://kafka.apache.org/protocol.html#The_Messages_A

[2022-04-27 15:42] johnward commented on #204
Thank you for your comments, I will look into these.

[2022-04-28 11:24] Dzordzu commented on #204
Joining group structures. Currently not preparing any PR, just recoginizing in the subject
[code]

[2022-04-28 13:10] Dzordzu commented on #204
@johnward I would like to know (I has been already looking for it - but no success) how version handling is done within library? I managed to find [a python implementation of the version check](https://github.com/dpkp/kafka-python/blob/4d598055dab7da99e41bfcceffa8462b32931cdd/kafka/client_async.py#L875), but could not see anything similar here

[2022-04-28 22:33] Dzordzu commented on #204
Looked at the python code again. It seems to support version detection for the kafka<0.10.0. This version has not been maintained [at least for 2 years](https://github.com/apache/kafka/commit/d8fe204376e6911210525cd74a861e31b5f8617b). After 0.10.0 there is official API to get version.
So, we can easily assume, that rust library can just skip the "hacking" way of getting versions, and use official

[2022-04-29 11:36] Dzordzu opened #205 "[Feature] Versions handling"
Currently I've managed to get supported versions list (via [ApiVersions v0](https://kafka.apache.org/protocol.html#The_Messages_ApiVersions))

<details>
<summary>Result in the console</summary>
<br>
<img src=https://user-images.githubusercontent.com/17514622/165937082-45a9cc8b-830a-4b26-9d6f-d3b6693b5da2.png/>
</details>

[2022-04-29 11:49] Dzordzu commented on #205
## Code

I've modified source, to match my needs. There is lib.rs (changed to main.rs)

<details>
<summary><b>main.rs [click to open]</b></summary>
<br>
<pre>
    //! Clients for comunicating with a [Kafka](http://kafka.apache.org/)
    //! cluster.  These are:
    //!
    //! - `kafka::producer::Producer` - for sending message to Kafka
    //! - `kafka::consumer::Consumer` - for retrieving/consum

[2022-04-29 12:32] Dzordzu commented on #205
I have to change to rust-rdkafka, but I'll try to finish this feature (for fun, as part of the Kafka protocol learning process) as soon as I finish some work

[2022-05-03 21:43] r3h0 commented on #204
FWIW, the reason I'm trying this library is that I can't seem to control/prevent rebalancing with `rdkafka` (for which I have a working version already). Hence, my feedback regarding this particular issue: rebalancing should be optional.

[2022-05-03 21:45] r3h0 commented on #205
@Dzordzu will this resolve the error, `Error(Kafka(UnsupportedVersion)`? My cluster is Kafka 3.1.0, but I don't need any sophisticated features, just a working client that lets me control offset storage and prevent partition rebalancing.

[2022-05-03 22:06] johnward commented on #205
@r3h0 Let me look into that error for you and get back to you.

[2022-05-03 22:07] johnward commented on #204
Thank you, it would be great to use this information to aid development. thanks

[2022-05-03 22:13] r3h0 commented on #205
Thanks! It appears that Kafka 1.0.0 is the [most recent version being tested](https://github.com/kafka-rust/kafka-rust/blob/master/tests/run-all-tests#L58). (Same story in [tests/.env](https://github.com/kafka-rust/kafka-rust/blob/master/tests/.env#L1)) I'm not sure where to find Kafka's release history, but I suspect that's quite old at this point.

[2022-05-03 22:23] johnward commented on #205
Yep, it all needs bringing up to date. :-)

[2022-05-04 20:33] r3h0 commented on #205
I forked the repo and ran the integration tests. All green, included when I ran the tests for Kafka 3.1.0. Perhaps the code fails against my cluster because it runs in zookeeper-less/raft mode? This Kafka client doesn't connect to Zookeeper directly, does it?

I'll update if I find anything.

[2022-05-09 01:57] neverchanje commented on #63
Any progress on this issue? Where is currently the async work going? I took a quick glance at https://github.com/flier/tokio-kafka and it has been unmaintained since 2018. I will be glad to help if similar projects have some plans to move async kakfa client forward. Thanks.

[2022-06-01 16:11] Mrzrb opened #210 "How to get message timestamp"
Hi~ kafka-rust is awesome.

But how can i get timestamp of message from struct `Message` ?

[2022-08-25 12:41] johnward commented on #210
Did you manage to look into this?

[2022-08-29 17:41] juliorenner opened #211 "Consumers of the same group consuming same partitions and getting same messages"
I am using the kafka library and have multiple replicas of my consumers to ensure HA. However, I have noticed that even that I specify the consumer group and the client id, that the replicas are getting the same messages from kafka.

After logging the consumer partitions, I noticed that they are the same.

Therefore, I just want to confirm if it is possible to have multiple consumers for the same

[2022-08-30 13:03] johnward commented on #211
Yes it it, you just need to manage the offset accordingly. Consumers in Kafka are very light touch. thanks

[2022-08-30 20:26] mesuutt opened #212 "Sending message with headers"
I could not find how to send message with headers.
Are you planning to implement?

[2022-09-02 11:13] alekseysidorov commented on #63
I can help to port this crate to Tokio, but I don't know your point of view how it should be done. Do you want to keep old sync interface? Do you want to make library a runtime agnostic or just port it to Tokio?

[2022-09-30 03:34] philipnee commented on #169
👋 new to the rust world.  For the question on what should the client do if losing connection to the coordinTor, the client should try to reconnect.  If the poll timed out, it should return nothing/an empty record. This is java clients behavior though...

[2022-10-03 07:51] gklijs commented on #169
@philipnee Java is the main client, and has lots of contributors. While we can leverage a big part of the work using librdkafka, it's no surprise it's lagging behind. It might be solved in the meantime. It would be nice to look into the current behavior. I would expect, even with all brokers down, the consumer to reconnect after they are up again.

[2022-10-05 00:49] philipnee commented on #169
it would be (very) nice to have a rust native kafka client instead of wrapping around librdkafka. And yes, consumers should retry until timeout.

[2022-10-31 09:26] Raawaan opened #214 "Version 0.9"
I'm using version 0.9 and getting
[code]
is version 0.9 stable?